@model TAMHR.ESS.Domain.EventsCalendar
@{ 
    var isNew = Model.Id == default(Guid);
}
<form method="@(isNew ? "post" : "put")" action="~/api/eventscalendar">
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["Title"]</label>
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @data_validation_for = "Title", @placeholder = Localizer["Please input title"].Value })
                <span class="invalid" data-validation-for="Title"></span>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["Event Type"]</label>
                @(Html.KendoComboBoxFor(x => x.EventTypeCode, "EventType")
                    .Placeholder(Localizer["Please select event type"].Value)
                    .Suggest(true)
                )
                <span class="invalid" data-validation-for="EventTypeCode"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["Start Date"]</label>
                @(Html.Kendo().DatePickerFor(x => x.StartDate)
                    .Format("dd/MM/yyyy")
                    .HtmlAttributes(new { @class = "form-control", @data_validation_for = "StartDate", placeholder = Localizer["Please select a date"].Value })
                )
                <span class="invalid" data-validation-for="StartDate"></span>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["End Date"]</label>
                @(Html.Kendo().DatePickerFor(x => x.EndDate)
                    .Format("dd/MM/yyyy")
                    .HtmlAttributes(new { @class = "form-control", @data_validation_for = "EndDate", placeholder = Localizer["Please select a date"].Value })
                )
                <span class="invalid" data-validation-for="EndDate"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["Description"]</label>
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = "3", @data_validation_for = "Description", @placeholder = Localizer["Please input description"].Value })
                <span class="invalid" data-validation-for="Description"></span>
            </div>
        </div>
    </div>
    <div class="actions">
        <a class="btn red-haze" data-trigger="submit" data-callback="updateHandler">@Localizer["Save"]</a>
    </div>
</form>