@model TAMHR.ESS.Domain.GeneralCategory
@{ 
    var isNew = Model.Id == default(Guid);
}
<form method="@(isNew ? "post" : "put")" action="~/api/category">
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["Category"]</label>
                @Html.TextBoxFor(x => x.Category, new { @class = "form-control", @data_validation_for = "Category", @placeholder = Localizer["Please input category"].Value })
                <span class="invalid" data-validation-for="Category"></span>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["Code"]</label>
                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @data_validation_for = "Code", @placeholder = Localizer["Please input code"].Value })
                <span class="invalid" data-validation-for="Code"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["Name"]</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @data_validation_for = "Name", @placeholder = Localizer["Please input name"].Value })
                <span class="invalid" data-validation-for="Name"></span>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["Description"]</label>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @data_validation_for = "Description", @placeholder = Localizer["Please input description"].Value })
                <span class="invalid" data-validation-for="Description"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="form-group">
                <label><span class="required" aria-required="true"> * </span>@Localizer["Order Sequence"]</label>
                @(Html.Kendo().NumericTextBoxFor(x => x.OrderSequence)
                    .HtmlAttributes(new { @class = "form-control text-right", @data_validation_for = "OrderSequence" })
                    .Decimals(0)
                    .Format("#")
                    .Min(1)
                )
                <span class="invalid" data-validation-for="OrderSequence"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            @(Html.Kendo().Grid<TAMHR.ESS.Domain.GeneralCategoryMappingView>()
                .Name("sub-grid")
                .Columns(columns =>
                {
                    columns.Bound(c => c.Code).ClientHeaderTemplate(@"<div class=""pull-left"">Mapping</div><div class=""pull-right""><a href=""javascript:;"" class=""btn btn-sm green-jungle"" data-trigger=""handler"" data-handler=""addMappingHandler"" data-parameters-code=""" + Model.Code + @"""><i class=""ft-plus""></i> Add Mapping</a></div>").ClientTemplate(@"
                        <div class=""media"">
                            <div class=""media-body ml-2"">
                                <div class=""pull-left"">
                                    <h6 class=""mt-1 mb-0 bold"">#:Code#</h6>
                                    <small>#:Name#</small>
                                </div>
                                <div class=""pull-right"">
                                    <a href=""javascript:;"" class=""btn btn-sm red-haze"" data-trigger=""handler"" data-url=""~/api/category/map"" data-handler=""deleteHandler"" data-parameters-id=""#:GeneralCategoryMappingId#"">Remove</a>
                                </div>
                            </div>
                        </div>
                    ");
                })
                .NoRecords(config => config.Template(@"<div class=""text-center p-2 text-muted""><i class=""fa fa-clipboard font-large-1""></i><br/>" + Localizer["No data found"].Value + "</div>"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Url(Url.Content("~/api/category/get-mapping-query")).Data(@<text>function() { return { code: "" } }</text>))
                    .Filter(filter => filter.Add(x => x.ParentGeneralCategoryCode).IsEqualTo(Model.Code))
                    .Sort(sort => sort.Add("Name").Ascending())
                )
                .Pageable(options =>
                {
                    options.Input(true);
                    options.Numeric(false);
                    options.AlwaysVisible(false);
                })
            )
        </div>
    </div>
    <div class="actions">
        <a class="btn red-haze" data-trigger="submit" data-callback="updateHandler">@Localizer["Save"]</a>
    </div>
</form>