@model PdfViewModel
@using TAMHR.ESS.Infrastructure.DomainServices
@inject ConfigService ConfigService
@inject TAMHR.ESS.Infrastructure.DomainServices.ClaimBenefitService service;
@inject TAMHR.ESS.Infrastructure.DomainServices.CoreService coreService;
@inject TAMHR.ESS.Infrastructure.DomainServices.ConfigService configService;
@{
    Layout = null;
    var org = Model.OrgInfo;
    var orgObjects = Model.OrgObjects;
    var obj = Model.Object as LoanViewModel;
    var NP = orgObjects.FirstOrDefault(x => x.ObjectDescription == "Division")?.NP;
    var personalData = service.GetPdfInfoPersonal(org.NoReg).FirstOrDefault();
    var interestCarLoan = service.GetLoan("CalculationLoan", "InterestCarLoan", Convert.ToInt32(NP)).FirstOrDefault();
    var AmmountInterest = interestCarLoan.GetType().GetProperty("Ammount").GetValue(interestCarLoan);
    var id = Model.ViewData.ToString();
    var periodLoan = service.GetLoan("CalculationLoan", "PeriodLoan", Convert.ToInt32(NP)).FirstOrDefault();
    var AmmountperiodLoan = periodLoan.GetType().GetProperty("Ammount").GetValue(periodLoan);

    string Address = (string)personalData.GetType().GetProperty("Address").GetValue(personalData);
    string rt = (string)personalData.GetType().GetProperty("RT").GetValue(personalData);
    string rw = (string)personalData.GetType().GetProperty("RW").GetValue(personalData);
    string City = (string)personalData.GetType().GetProperty("City").GetValue(personalData);
    string PostalCode = (string)personalData.GetType().GetProperty("PostalCode").GetValue(personalData);
    var loan = (obj as LoanViewModel);
    var pinjaman = loan.LoanAmount;

    var bunga = Convert.ToInt32(5);
    var jumahbunga = pinjaman * bunga / 100;
    //var jumlah = pinjaman + jumahbunga;
    int calculation = Convert.ToInt16(loan.CalculationLoan);
    DateTime Period = loan.Period.Value;

    //var potongan = jumlah / calculation;
    var periodloan = Convert.ToInt16(AmmountperiodLoan);

    var PartyName = configService.GetConfig("multipurpose.secondPartyName").ConfigValue;
    var PartyPosition = configService.GetConfig("multipurpose.secondPartyPosition").ConfigValue;
    //Get tanggal Cut Off
    var getCutOff = service.GetCutOff().FirstOrDefault();
    int tanggalCutOff = Convert.ToInt16(getCutOff.GetType().GetProperty("ConfigValue").GetValue(getCutOff).ToString());

    //PMT
    var calculatebunga = (double)bunga / 100 / 12;
    int perido = (int)periodloan;
    Double pinjam = (double)pinjaman;
    var denominator = Math.Pow((1 + calculatebunga), perido) - 1;
    var sumCicilan = (calculatebunga + (calculatebunga / denominator)) * pinjam;
    var ii = Convert.ToDecimal(sumCicilan);
    var pembulatan = Math.Round(ii, 0);
    var jumlah = pembulatan * periodloan;
    var potongan = pembulatan;

    // Terbilang
    var terbilang = service.Terbilang(Convert.ToDecimal(pinjaman));
    var terbilangbunga = service.TerbilangAngka(Convert.ToDecimal(bunga));
    var terbilangpotongan = service.TerbilangAngka(Convert.ToDecimal(potongan));
    var terbilangjumlah = service.TerbilangAngka(Convert.ToDecimal(jumlah));

    //get Tanggal Full Approved
    var getDateFullApprove = service.GetDateFullApproved(new Guid(id)).FirstOrDefault();
    DateTime dateFullApprove = Convert.ToDateTime(getDateFullApprove.GetType().GetProperty("ModifiedOn").GetValue(getDateFullApprove));
    int date = Convert.ToInt16(dateFullApprove.ToString("dd"));

    string mulaicicil = "";
    if (date <= tanggalCutOff)
    {
        mulaicicil = dateFullApprove.ToString("MMMM yyyy");
    }
    else
    {
        mulaicicil = dateFullApprove.AddMonths(1).ToString("MMMM yyyy");
    }
    DateTime enddate = dateFullApprove.AddMonths(Convert.ToInt16(AmmountperiodLoan));

}
<style type="text/css">
    td {
        padding: 2px;
    }

    .border-bottom {
        border-bottom: 1px solid black
    }

    .border-top {
        border-top: 1px solid black
    }

    .border-left {
        border-left: 1px solid black
    }

    .border-right {
        border-right: 1px solid black
    }

    .border {
        border: 1px solid black
    }

    table {
        border-collapse: collapse;
    }

    .bg-gray {
        background: #efefef
    }

    .bold {
        font-weight: bold
    }
</style>
<p style="font-family:'Century Gothic'; font-size:12px;">PT. TOYOTA-ASTRA MOTOR</p>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<h1 style="text-align:center ;font-family:'Century Gothic';"><u>PERJANJIAN  PENGAKUAN  HUTANG</u></h1>
<br /><br /><br /><br /><br /><br /><br />
<p style="text-align:center ;font-family:'Century Gothic';">HOUSE LOAN</p>
<p style="text-align:center ;font-family:'Century Gothic';">OR</p>
<p style="text-align:center ;font-family:'Century Gothic';">HOUSE REHABILITATION</p>
<br /><br /><br /><br /><br /><br />
<table class="tableizer-table" style="font-family:'Century Gothic'; font-size:12px; width: 80%; margin-left:15%;margin-right:15%;" border="1" cellspacing="0" cellpadding="0">
    <colgroup>
        <col style="width: 20%;" />
        <col style="width: 80%;" />
    </colgroup>
    <tr>
        <td>No. Registrasi</td>
        <td>@org.NoReg</td>
    </tr>
    <tr>
        <td>Nama</td>
        <td>@org.Name</td>
    </tr>
    <tr>
        <td>Divisi</td>
        <td>@orgObjects.FirstOrDefault(x => x.ObjectDescription == "Division")?.ObjectText</td>
    </tr>
</table>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><hr />
<br /><br /><br />
<br /><br /><br />
<p style="font-family:'Segoe UI'; font-size:12px;">Kami yang bertanda tangan dibawah ini : </p>
<table class="tableizer-table" style="font-family:'Segoe UI'; font-size:12px; width: 80%; margin-left:0%;margin-right:15%;" border="0" cellspacing="0" cellpadding="0">
    <colgroup>
        <col style="width: 30%;" />
        <col style="width: 30%;" />
    </colgroup>

    <tr>
        <td>Nama<label style="float:right">:</label></td>
        <td>@org.Name</td>
    </tr>
    <tr>
        <td>No. Registrasi<label style="float:right">:</label></td>
        <td>@org.NoReg</td>
    </tr>
    <tr>
        <td>Divisi<label style="float:right">:</label></td>
        <td>@orgObjects.FirstOrDefault(x => x.ObjectDescription == "Division")?.ObjectText</td>
    </tr>
    <tr>
        <td>Alamat Rumah<label style="float:right">:</label></td>
        <td>@Address  RT (@rt) RT (@rw), @City (@PostalCode)</td>
    </tr>
</table>
<p style="font-family:'Segoe UI'; font-size:12px;">Untuk selanjutnya disebut <strong>PIHAK PERTAMA</strong></p>
<table class="tableizer-table" style="font-family:'Segoe UI'; font-size:12px; width: 80%; margin-left:0%;margin-right:15%;" border="0" cellspacing="0" cellpadding="0">
    <colgroup>
        <col style="width: 30%;" />
        <col style="width: 30%;" />
    </colgroup>

    <tr>
        <td>Nama<label style="float:right">:</label></td>
        <td>@PartyName</td>
    </tr>
    <tr>
        <td valign="top">Jabatan<label style="float:right">:</label></td>
        <td>@PartyPosition</td>
    </tr>
</table>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    Dalam hal ini bertindak untuk dan atas nama <strong>PT. TOYOTA-ASTRA MOTOR</strong> untuk selanjutnya disebut <strong>PIHAK KEDUA</strong>.<br /><br />
    Pada hari ini, <strong>@DateTime.Now.ToString("dd MMMM yyyy") </strong> bersepakat mengadakan perjanjian pengakuan hutang sehubungan dengan pinjaman uang untuk memperbaiki/memperluas/membangun rumah tinggal milik <strong>PIHAK PERTAMA</strong>,
    yang diberikan oleh <strong>PIHAK KEDUA</strong> kepada <strong>PIHAK PERTAMA</strong> dengan syarat-syarat dan ketentuan-ketentuan sebagai berikut :
</p>


<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 1</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    PIHAK PERTAMA mengakui telah berhutang kepada PIHAK KEDUA uang sebesar Rp. <strong>@loan.LoanAmount?.ToString("N0") (@terbilang)</strong>.
    Karena pinjaman uang yang diterima oleh PIHAK PERTAMA dengan tanda tersendiri sebelum Perjanjian Hutang ini ditanda tangani dan PIHAK KEDUA menerima Pengakuan Hutang dari PIHAK PERTAMA.
</p>

<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 2</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    Terhadap pinjaman uang tersebut PIHAK PERTAMA dikenakan bunga <strong>@bunga % (  @terbilangbunga persen) tiap tahun</strong>,
    yang pembayarannya dilakukan tiap bulan bersama-sama dengan pembayaran angsuran hutang pokok.<br /><br />
    Jumlah bunga seluruhnya selama jangka waktu pinjaman berjumlah Rp.<strong>@jumlah.ToString("N0") (@terbilangjumlah)</strong>.
</p>

<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 3</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    Perjanjian ini berlaku untuk jangka waktu <strong>10 tahun</strong>
</p>
<table class="tableizer-table" style="font-family:'Segoe UI'; font-size:12px; width: 80%; margin-left:0%;margin-right:15%;" border="0" cellspacing="0" cellpadding="0">
    <colgroup>
        <col style="width: 30%;" />
        <col style="width: 30%;" />
    </colgroup>

    <tr>
        <td>dimulai pada tanggal<label style="float:right">:</label></td>
        <td><strong>@mulaicicil</strong></td>
    </tr>
    <tr>
        <td></td>
        <td>dan berakhir</td>
    </tr>
    <tr>
        <td>sampai dengan tanggal<label style="float:right">:</label></td>
        <td><strong>@enddate.ToString("MMMM yyyy")</strong></td>
    </tr>
</table>

<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 4</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    Pinjaman pokok dan bunganya akan dibayar oleh PIHAK PERTAMA dengan cara pemotongan/pengurangan gaji setiap bulan dan akan diterima oleh
    PIHAK KEDUA dari PIHAK PERTAMA setiap hari gaji dan akan terbayar lunas dalam <strong>@periodloan</strong> kali pemotongan,
    yang besarnya pemotongan setiap bulan Rp. <strong>@potongan.ToString("N0") (@terbilangpotongan)</strong>. Pemotongan pertama dilakukan pada gajian bulan <strong>@mulaicicil</strong>
</p>

<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 5</h3>
<table class="tableizer-table" style="font-family:'Segoe UI'; font-size:12px; width: 100%; margin-left:0%;margin-right:0%;" border="0" cellspacing="0" cellpadding="0">
    <colgroup>
        <col style="width: 5%;" />
        <col style="width: 5%;" />
        <col style="width: 90%;" />
    </colgroup>
    <tr>
        <td valign="top">1.</td>
        <td style="text-align:justify" colspan="2">
            <p style="text-align:justify">
                PIHAK KEDUA dapat menagih sekaligus sisa pinjaman dan bunga yang masih terutang dari PIHAK PERTAMA dalam hal-hal sebagai berikut :
            </p>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>&gt;</td>
        <td>Apabila hubungan kerja antara PIHAK PERTAMA dan PIHAK KEDUA berakhir karena sesuatu sebab apapun.</td>
    </tr>
    <tr>
        <td></td>
        <td>&gt;</td>
        <td>Apabila terbukti bahwa PIHAK PERTAMA mempergunakan pinjaman uang yang diterima dari PIHAK KEDUA tidak sesuai dengan permohonan pinjaman.</td>
    </tr>
    <tr>
        <td></td>
        <td>&gt;</td>
        <td>Apabila barang yang dijadikan jaminan atas pinjaman uang karena sesuatu putusan Pengadilan Negri disita atau dilelang.</td>
    </tr>
    <tr>
        <td valign="top">2.</td>
        <td style="text-align:justify" colspan="2">
            <p style="text-align:justify">
                Dalam kejadian-kejadian seperti tersebut pada ayat terdahulu dari pasal ini PIHAK PERTAMA setuju gaji terakhir,
                tunjangan pesangon dan santunan asuransi karena meninggalnya karyawan PT. TOYOTA-ASTRA MOTOR yang harus diterima oleh PIHAK PERTAMA dari PIHAK KEDUA
                diprioritaskan untuk melunasi pinjaman dan bunga yang masih terutang kepada PIHAK KEDUA,
                dengan ketentuan jika ada lebihnya PIHAK KEDUA harus menyerahkan kepada PIHAK PERTAMA atau ahli warisnya
            </p>
        </td>
    </tr>
    <tr>
        <td valign="top">3.</td>
        <td style="text-align:justify" colspan="2">
            <p style="text-align:justify">
                Bilamana PIHAK PERTAMA meninggal dunia sebelum pinjamannya lunas, sedangkan gaji terakhir,
                tunjangan dan pesangon serta santunan asuransinya karena meninggalnya karyawan PT. TOYOTA-ASTRA MOTOR tidak cukup untuk melunasi pinjaman dan bunganya,
                dan bunganya yang masih terutang akan beralih kepada ahli warisnya.
            </p>
        </td>
    </tr>
</table>
<br /><br /><br /><br /><br /><br /><br />
<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 6</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    PIHAK PERTAMA setuju akan menyerahkan pada PIHAK KEDUA dokumen-dokumen asli yang syah mengenai pemilikan tanah dan rumah :
</p>
<table class="tableizer-table" style="font-family:'Segoe UI'; font-size:12px; width: 80%; margin-left:0%;margin-right:15%;" border="0" cellspacing="0" cellpadding="0">
    <colgroup>
        <col style="width: 30%;" />
        <col style="width: 30%;" />
    </colgroup>

    <tr>
        <td>Terletak di<label style="float:right">:</label></td>
        <td>@loan.Address RT(@loan.RT) RW (@loan.RW)</td>
    </tr>
    <tr>
        <td>Milik<label style="float:right">:</label></td>
        <td></td>
    </tr>
    <tr>
        <td>Nomor dan tanggal Sertifikat<label style="float:right">:</label></td>
        <td></td>
    </tr>
    <tr>
        <td>Surat Perjanjian Pemilikan Rumah<label style="float:right">:</label></td>
        <td></td>
    </tr>
</table>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    Sebagai jaminan atas pinjaman PIHAK PERTAMA tersebut diatas, dan dokumen-dokumen tersebut dikembalikan oleh PIHAK KEDUA kepada PIHAK PERTAMA segera setelah
    pinjaman PIHAK PERTAMA berikut bunganya yang masih terutang dapat diselesaikan sebagai mestinya,
    kecuali dalam hal PIHAK KEDUA melaksanakan Surat Kuasa tersebut pada pasal berikut dari Perjanjian ini.
</p>
<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 7</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    Untuk menjamin lebih lanjut agar PIHAK PERTAMA membayar kembali hutang dan bunganya kepada PIHAK KEDUA secara tertib dan sebagaimana mestinya atau bilamana PIHAK PERTAMA
    atau ahli warisnya tidak sanggup melunasi pinjaman dan bunganya menurut ketentuan pasal 5 tersebut diatas maka dalam kejadian demikian PIHAK PERTAMA menerangkan memberi kuasa kepada PIHAK KEDUA.
</p>
<h3 style="text-align:center ;font-family:'Century Gothic';">>>  >>  >>  >>  >>  >>  >>  >> K  H  U  S  U  S <<  <<  <<  <<  <<  <<  <<</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    Untuk dan atas nama PIHAK PERTAMA, menjual kepada Pihak Ketiga harta milik PIHAK PERTAMA berupa : Tanah dan rumah seperti alamat tersebut diatas.<br /><br />
    Dengan memakai syarat-syarat dan ketentuan-ketentuan dan harga pasaran yang berlaku pada saat itu yang disetujui oleh PIHAK KEDUA tanpa mendapat persetujuan terlebih dahulu dari PIHAK PERTAMA.
    Sehubungan dengan kuasa tersebut PIHAK KEDUA berhak membuat dan menanda tangani surat-surat yang diperlukan termasuk akte jual beli,
    menyerahkan barang yang dijual, menerima uang hasil penjualan, memberikan tanda terima uang hasil penjualan tersebut dan mempergunakannya untuk melunasi pinjaman dan bunganya yang masih harus dibayar PIHAK PERTAMA,
    dengan ketentuan jika ada kelebihannya, maka PIHAK KEDUA wajib menyerahkannya kepada PIHAK PERTAMA setelah rumahnya diserahkan dalam keadaan kosong.
</p>
<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 8</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    Dalam hal rumah dan hak atas tanah tersebut diatas dijualkan oleh PIHAK KEDUA atas dasar ketentuan Pasal 7 diatas,
    maka PIHAK PERTAMA harus menyerahkan rumah tersebut dalam keadaan kosong kepada Pihak Ketiga yang membelinya dalam jangka waktu 30 (tiga puluh) hari setelah menerima pemberitahuan tertulis dari PIHAK KEDUA.
</p>
<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 9</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    PIHAK PERTAMA wajib mentaati segala peraturan yang dikeluarkan oleh PT. TOYOTA-ASTRA MOTOR, yang berhubungan dengan pinjaman tersebut.
</p>
<h3 style="text-align:center ;font-family:'Century Gothic';">PASAL 10</h3>
<p style="font-family:'Segoe UI'; font-size:12px; text-align:justify">
    Perjanjian ini dibuat dalam rangkap 2 (dua) yang sama kekuatan hukumnya, masing-masing dipegang oleh PIHAK PERTAMA satu eksemplar bermaterai cukup dan PIHAK KEDUA satu eksemplar bermaterai cukup.
</p>

<br /><br /><br /><br />
<table class="tableizer-table" style="font-family:'Segoe UI'; font-size:12px; width: 100%; margin-left:0%;margin-right:0%;" border="0" cellspacing="0" cellpadding="0">
    <colgroup>
        <col style="width: 40%;" />
        <col style="width: 20%;" />
        <col style="width: 40%;" />
    </colgroup>
    <tr>
        <td><strong>PIHAK KEDUA</strong></td>
        <td></td>
        <td><strong>PIHAK PERTAMA</strong></td>
    </tr>
    <tr>
        <td><strong>PT. TOYOTA-ASTRA MOTOR</strong></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><strong>HUMAN RESOURCES AND GENERAL AFFAIRS</strong></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td height="120px"></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@PartyName</td>
        <td></td>
        <td><strong>@org.Name</strong></td>
    </tr>
    <tr>
        <td class="border-top">@PartyPosition</td>
        <td></td>
        <td class="border-top">Noreg : @org.NoReg</td>
    </tr>
</table>