@model TAMHR.ESS.Domain.McuView
@inject TAMHR.ESS.Infrastructure.DomainServices.ConfigService ConfigService
@inject IScriptManager ScriptManager

@{

    ScriptManager.RegisterReferences("dropdownlist","combobox", "multiselect");


    var isNew = Model.Id == default(Guid);
}

<div id="McuModal" class="modal fade bs-modal-lg show" role="dialog" aria-hidden="true" style="display: none;" data-backdrop="static">
    <div class="modal-dialog" style="width: 90%; max-width: 1800px; height: 90%; max-height: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">@Localizer["Input Mcu"]</h4>
            </div>
            <form method="@(isNew ? "post" : "put")" action="@(isNew ? "~/api/ohs/medical-record/insertMcu" : "~/api/ohs/medical-record/updateMcu")">
                @Html.HiddenFor(x => x.Id)
                <div class="modal-body">
                    <div class="row">
                        <!-- Paket -->
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label>@Localizer["Paket"]</label>
                                @(
                                    Html.Kendo().ComboBox()
                                    .Name("Paket")
                                    .HtmlAttributes(new { @class = "form-control", data_validation_for = "Paket", @required = "required" })
                                    .DataTextField("ObjectText")
                                    .DataValueField("ObjectCode")
                                    //.Placeholder(Localizer["Please select Paket"].Value)
                                    .Value(Model.Paket ?? string.Empty)
                                    .BindTo(new[]
                                    {
                                new { ObjectCode = "1", ObjectText = "1" },
                                new { ObjectCode = "2", ObjectText = "2" },
                                new { ObjectCode = "3", ObjectText = "3" }
                                    })
                                    )
                                <span class="invalid" data-validation-for="Paket"></span>
                            </div>
                        </div>

                        <!-- Lokasi -->
                        <div class="col-3">
                            <div class="form-group">
                                <label>@Localizer["Lokasi"]</label>
                                @(
                                    Html.Kendo().ComboBox()
                                    .Name("Lokasi")
                                    .HtmlAttributes(new { @class = "form-control", data_validation_for = "Lokasi", @required = "required" })
                                    .DataTextField("ObjectText")
                                    .DataValueField("ObjectCode")
                                    .Placeholder(Localizer["Please select Lokasi"].Value)
                                    .Value(Model.LokasiMCU ?? string.Empty)
                                    .BindTo(new[]
                                    {
                                new { ObjectCode = "3-6", ObjectText = "3-6" },
                                new { ObjectCode = "7-10", ObjectText = "7-10" }
                                    })
                                    )
                                <span class="invalid" data-validation-for="Lokasi"></span>
                            </div>
                        </div>

                        <!-- Penyakit yang pernah diderita -->
                        <div class="col-3">
                            <div class="form-group">
                                <label><span>  </span>@Localizer["Penyakit yang pernah diderita"]</label>
                                @Html.TextBoxFor(x => x.PenyakitPernahDiderita, new {@class = "form-control", @data_validation_for = "NamaArea"})

                            </div>
                        </div>
                        <!-- Olahraga -->
                        <div class="col-1">
                            <div class="form-group">
                                <label>@Localizer["Olahraga"]</label>
                                @(
                                    Html.Kendo().ComboBox()
                                    .Name("Olahraga")
                                    .HtmlAttributes(new { style = "width:140%;", @class = "form-control" })
                                    .BindTo(new[] { "YES", "NO" })
                                    .Value(Model.Olahraga ?? "")
                                    .SelectedIndex(-1)
                                    )
                            </div>
                        </div>
                        <!-- Frequensi -->
                        <div class="col-2">
                            <div class="form-group">
                                <label>@Localizer["Freaquensi/Minggu"]</label>
                                <input type="number" style="width:50%" name="Usia" class="form-control" value="@Model.Usia" />
                            </div>
                        </div>



                    </div>
                    
                    <div>
                        <hr style="height: 5px; background-color: black; border: none;">

                    </div>



                </div>


            </form>
            
        </div>
    </div>
</div>