@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ScriptManager.RegisterReferences("dropdownlist", "grid", "datepicker", "combobox", "chart");
    var now = DateTime.Now.Date;
    var start = new DateTime(now.Year, now.Month, 1);
    var end = start.AddMonths(1).AddDays(-1);
    var chief = bool.Parse(User.GetClaim("Chief"));
    //var version = Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion;
}
@section styles  {
    <style type="text/css">
        .k-grid th {
            white-space: nowrap;
            text-align: center !important;
            vertical-align: middle !important;
        }

        td {
            white-space: nowrap;
        }

        .adjustment {
            width: 40px;
            text-align: center;
        }

        .fixed-header {
            top: 50px;
            position: fixed;
            width: auto;
            z-index: 1;
        }

        .k-grid-header {
            width: auto !important;
            padding-right: 0 !important;
            border-right: 0px solid #fff !important;
        }

        .k-grid-content.k-auto-scrollable {
            overflow-y: hidden !important;
        }

        .k-grid-content-locked {
            border-right: 1px solid #ddd;
            height: 100% !important;
        }

        .custom-control-label::before, .custom-control-label::after {
            left: -1.13rem;
        }
    </style>
}
@section scripts {
    <script type="text/javascript" src="~/js/pages/bdjk-report.js"></script>
    <script type="text/javascript">
        function getParameters() {
            var startDate = kendo.toString($("#StartDate").data("kendoDatePicker").value() || new Date(1800, 0, 1), "yyyy-MM-dd"),
                endDate = kendo.toString($("#EndDate").data("kendoDatePicker").value() || new Date(9999, 12, 31), "yyyy-MM-dd");

            return { startDate: startDate, endDate: endDate };
        }
    </script>
}
@section pageToolbars {
    <div class="dropdown">
        <a href="javascript:;" class="btn btn-sm dropdown-toggle red-sunglo" data-toggle="dropdown">
            <i class="ft-settings"></i> <span class="d-none d-sm-inline">@Localizer["Actions"]</span> <i class="ft-chevron-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;" data-trigger="handler" data-handler="downloadReportHandler">
                    @Localizer["Download Report to XLSX"]
                </a>
            </li>
        </ul>
    </div>
}
<div class="card">
    <div class="row d-flex no-padding row-col-separator-xl">
        <div class="col-md-6">
            <div class="m-widget">
                <div class="m-widget-header">
                    <h3 class="m-widget-title">@Localizer["Document Status Summary"]</h3>
                    <span class="m-widget-desc">@Localizer["Document status summary by period"]</span>
                </div>
                <div class="m-widget-item pt-0">
                    <div class="row">
                        <div class="col-md-12">
                            @(Html.Kendo().Chart<SummaryViewModel>()
                                .Name("chart")
                                .HtmlAttributes(new { style = "height: 105px; position: relative;" })
                                .Legend(legend => legend
                                    .Position(ChartLegendPosition.Right)
                                    .Align(ChartLegendAlign.Center)
                                    .Labels(labels => labels.Template("${ app.translate(text) } (${ value })"))
                                )
                                .DataSource(ds => ds
                                    .WebApi()
                                    .ServerOperation(false)
                                    .Read(read => read.Url(Url.Content("~/api/bdjk-report/document-status-summary")).Data("getParameters"))
                                )
                                .SeriesColors(new[] { "#AA4839", "#D4D46A", "#5B2971", "#246B61", "#9717A8", "#005A91", "#007FAD", "#00D3E4", "#FF96DA", "#FF7D81", "#E0FF4D" })
                                .Series(series =>
                                {
                                    series.Donut(x => x.Total, x => x.Name)
                                        .ColorField("Color")
                                        .VisibleInLegendField("VisibleInLegend");
                                })
                                .AutoBind(false)
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Template("${ app.translate(category) }: ${ value }")
                                )
                                .Deferred()
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-3">
            <div class="m-widget">
                <div class="m-widget-header">
                    <h3 class="m-widget-title">@Localizer["BDJK Summary"]</h3>
                    <span class="m-widget-desc">@Localizer["BDJK summary by code"]</span>
                </div>
                <div class="m-widget-item pt-2">
                    <div class="row">
                        <div class="col-md-12">
                            @(Html.Kendo().Chart<SummaryViewModel>()
                                .Name("secondChart")
                                .HtmlAttributes(new { style = "height: 105px; position: relative;" })
                                .Legend(legend => legend
                                    .Position(ChartLegendPosition.Right)
                                    .Align(ChartLegendAlign.Center)
                                    .Labels(labels => labels.Template("${ app.translate(text) } (${ value })"))
                                )
                                .DataSource(ds => ds
                                    .WebApi()
                                    .ServerOperation(false)
                                    .Read(read => read.Url(Url.Content("~/api/bdjk-report/activity-summary")).Data("getParameters"))
                                )
                                .SeriesColors(new[] { "#AA4839", "#D4D46A", "#5B2971", "#246B61", "#9717A8", "#005A91", "#007FAD", "#00D3E4", "#FF96DA", "#FF7D81", "#E0FF4D" })
                                .Series(series =>
                                {
                                    series.Donut(x => x.Total, x => x.Name)
                                        .ColorField("Color")
                                        .VisibleInLegendField("VisibleInLegend");
                                })
                                .AutoBind(false)
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Template("${ category }: ${ value }")
                                )
                                .Deferred()
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="col-md-6">
            <div class="m-widget">
                <div class="m-widget-header">
                    <h3 class="m-widget-title">@Localizer["Activity Summary"]</h3>
                    <span class="m-widget-desc">@Localizer["Activity summary by period"]</span>
                </div>
                <div class="m-widget-item pt-2">
                    <div class="row">
                        <div class="col-md-12">
                            @(Html.Kendo().Chart<SummaryViewModel>()
                                .Name("thirdChart")
                                .HtmlAttributes(new { style = "height: 105px; position: relative;" })
                                .Legend(legend => legend
                                    .Position(ChartLegendPosition.Right)
                                    .Align(ChartLegendAlign.Center)
                                    .Labels(labels => labels.Template("${ app.translate(text) } (${ value })"))
                                )
                                .DataSource(ds => ds
                                    .WebApi()
                                    .ServerOperation(false)
                                    .Read(read => read.Url(Url.Content("~/api/bdjk-report/activity-summary")).Data("getParameters"))
                                )
                                .SeriesColors(new[] { "#AA4839", "#D4D46A", "#5B2971", "#246B61", "#9717A8", "#005A91", "#007FAD", "#00D3E4", "#FF96DA", "#FF7D81", "#E0FF4D" })
                                .Series(series =>
                                {
                                    series.Donut(x => x.Total, x => x.Name)
                                        .ColorField("Color")
                                        .VisibleInLegendField("VisibleInLegend");
                                })
                                .AutoBind(false)
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Template("${ category }: ${ value }")
                                )
                                .Deferred()
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-content">
                <div class="card-header bordered">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>@Localizer["Start Date"]</label>
                            @(Html.Kendo().DatePicker()
                                .Name("StartDate")
                                .Value(start)
                                .Events(e => e.Change("$.filterChange"))
                                .Format("dd/MM/yyyy")
                                .HtmlAttributes(new { placeholder = "From", style = "width:100%" })
                                .Deferred()
                            )
                        </div>
                        <div class="form-group col-md-2">
                            <label>@Localizer["End Date"]</label>
                            @(Html.Kendo().DatePicker()
                                .Name("EndDate")
                                .Value(end)
                                .Events(e => e.Change("$.filterChange"))
                                .Format("dd/MM/yyyy")
                                .HtmlAttributes(new { placeholder = "From", style = "width:100%" })
                                .Deferred()
                            )
                        </div>
                        <div class="form-group col-md-2">
                            <label>@Localizer["BDJK Code"]</label>
                            @(Html.KendoComboBox("BdjkCode", string.Empty, "BdjkCode", all: true)
                                .AutoBind(true)
                                .SelectedIndex(0)
                                .ClearButton(false)
                                .Placeholder(Localizer["Please select bdjk code"].Value)
                                .Events(events => events.Change("$.filterChange"))
                                .Deferred()
                            )
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <label>@Localizer["Document Status"]</label>
                            @(Html.KendoComboBox("DocumentStatus", string.Empty, "DocumentStatus", all: true)
                                .AutoBind(true)
                                .SelectedIndex(0)
                                .ClearButton(false)
                                .Placeholder(Localizer["Please select document status"].Value)
                                .Events(events => events.Change("$.filterChange"))
                                .Deferred()
                            )
                        </div>
                        <div class="form-group col-md-3 col-12">
                            <label>@Localizer["Category"]</label>
                            @(Html.KendoComboBox("CategorySpkl", string.Empty, "CategorySPKL", all: true)
                                .AutoBind(true)
                                .SelectedIndex(0)
                                .ClearButton(false)
                                .Placeholder(Localizer["Please select category"].Value)
                                .Events(events => events.Change("$.filterChange"))
                                .Deferred()
                            )
                        </div>
                        @if (chief)
                        {
                            <div class="form-group col-md-3 col-12">
                                <label>@Localizer["Employee"]</label>
                                <div class="input-group input-group-icon mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text font-red">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                    <input type="text" id="search" class="form-control" placeholder="@Localizer["Choose Employee"]" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" id="search" />
                        }
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow:auto">
                                @(Html.Kendo().Grid<BdjkRequestDetailStoredEntity>()
                                    .Name("grid")
                                    .Columns(columns =>
                                    {
                                        if (chief)
                                        {
                                            columns.Bound(c => c.Id).ClientTemplate(@"
                                                <div class=""custom-control custom-checkbox"" style=""margin-top: -30px;"">
                                                    <input type=""checkbox"" name=""ids[]"" id=""cb#:Id#"" value=""#:uid#|#:DocumentApprovalId#"" class=""custom-control-input"" data-trigger=""handler"" data-handler=""checkHandler"" #:!EnableDocumentAction?'disabled':''# />
                                                    <label class=""custom-control-label"" for=""cb#:Id#""></label>
                                                </div>
                                            ").ClientHeaderTemplate(@"
                                                <div class=""custom-control custom-checkbox"" style=""margin-top: -30px;"">
                                                    <input type=""checkbox"" id=""checkAll"" class=""custom-control-input"" data-trigger=""handler"" data-handler=""checkAllHandler"">
                                                    <label class=""custom-control-label"" for=""checkAll""></label>
                                                </div>
                                            ").HtmlAttributes(new { @class = "pr-0" }).Lockable(false).Locked(true).Width(50);
                                        }

                                        columns.Bound(o => o.Name).Title(Localizer["Name"].Value).Width(250).ClientTemplate(@"
                                            <div class=""text-left"">
                                                #:NoReg# - #:Name#
                                            </div>
                                        ").Locked(true).MinScreenWidth(768);

                                        columns.Bound(o => o.WorkingDate).Title(Localizer["Date"].Value).Format("{0:dd/MM/yyyy}").HtmlAttributes(new { @class = "text-center" }).Width(115).Locked(true).MinScreenWidth(768);

                                        columns.Bound(o => o.ParentDocumentNumber).Title(Localizer["Document Number"].Value).HtmlAttributes(new { @class = "text-center" }).Width(200);

                                        columns.Bound(o => o.Id).ClientHeaderTemplate(string.Format(@"<span class=""d-block d-md-none"">{0}</span><span class=""d-none d-md-block"">{1}</span>", Localizer["Employee"].Value, Localizer["Progress"].Value)).HtmlAttributes(new { @class = "text-center" }).ClientTemplate(@"
                                            <div class=""d-block d-md-none"">
                                                #:NoReg# - #:Name#<br/>
                                                <small>#:kendo.toString(WorkingDate, 'dd/MM/yyyy')#</small>
                                                <hr style=""margin: 10px 0;""/>
                                            </div>
                                            <a href=""javascript:;"" data-trigger=#if(DocumentNumber != null){#""modal""#}else{##}# data-modal-title=""Tracking Approval - #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/trackingapproval"" data-parameters-id=""#:DocumentApprovalId#"">
                                                <div class=""clearfix mb-1"">
                                                    <div class=""pull-left"">#:app.translate(DocumentStatusName)#</div>
                                                    <div class=""pull-right"">#:Progress#%</div>
                                                </div>
                                                <div class=""progress"" style=""height: 4px;"">
                                                    <div class=""progress-bar progress-bar-striped #: css('DocumentApproval', DocumentStatusCode) #"" role=""progressbar"" aria-valuenow=""#:Progress#"" aria-valuemin=""#:Progress#"" aria-valuemax=""#:Progress#"" style=""width:#:Progress#%;""></div>
                                                </div>
                                            </a>
                                        ").Width(240);

                                        columns.Bound(o => o.WorkingTimeIn).Title(Localizer["Proxy In"].Value).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("#:$.toDefault(kendo.toString(WorkingTimeIn, 'HH:mm'), '-')#").Width(150);
                                        columns.Bound(o => o.WorkingTimeOut).Title(Localizer["Proxy Out"].Value).HtmlAttributes(new { @class = "text-center" }).ClientTemplate("#:$.toDefault(kendo.toString(WorkingTimeOut, 'HH:mm'), '-')#").Width(150);
                                        columns.Bound(o => o.BdjkCode).Title(Localizer["BDJK Code"].Value).HtmlAttributes(new { @class = "text-center" }).Width(150);
                                        columns.Bound(o => o.Duration).Title(Localizer["Duration"].Value).HtmlAttributes(new { @class = "text-center" }).Width(100);
                                        columns.Bound(o => o.ActivityName).Title(Localizer["Category"].Value).Width(280);
                                        columns.Bound(o => o.BdjkReason).Title(Localizer["Reason"].Value).Width(280);
                                        columns.Bound(o => o.Id).Title(Localizer["Action"].Value).HtmlAttributes(new { @class = "text-center" }).ClientTemplate(@"
                                            <div class=""btn-group"">
                                            #if(DocumentNumber != null && DocumentStatusCode != ""locked""){#
                                                <a class=""btn btn-sm green-jungle"" href=""" + Url.Content("~/timemanagement/form/pdf?formKey=bdjk-planning&") + @"docId=#:ParentId#"" target=""_blank""><i class=""ft-download""></i></a>
                                            #}else{##}#
                                            </div>
                                        ").Width(90);
                                    })
                                    .DataSource(dataSource => dataSource
                                        .Ajax()
                                        .Read(read => read.Url(Url.Content("~/api/bdjk-report/gets")))
                                        .PageSize(20)
                                        .Sort(sort =>
                                        {
                                            sort.Add("WorkingDate");
                                            sort.Add("Name");
                                        })
                                        .Filter(filter =>
                                        {
                                            if (ViewContext.HttpContext.Request.Query.ContainsKey("id"))
                                            {
                                                filter.Add(x => x.ParentId).IsEqualTo(Guid.Parse(ViewContext.HttpContext.Request.Query["id"]));
                                            }
                                            else
                                            {
                                                filter.Add(x => x.WorkingDate)
                                                    .IsGreaterThanOrEqualTo(start)
                                                    .And()
                                                    .IsLessThanOrEqualTo(end);
                                            }
                                        })
                                    )
                                    .Pageable(options =>
                                    {
                                        options.Input(true);
                                        options.Numeric(false);
                                        options.PageSizes(new[] { 5, 10, 20, 25, 100, 200 });
                                    })
                                    .Events(events =>
                                    {
                                    events.DataBound(@<text>
                                            function() {
                                                var $checkAllEl = $("#checkAll"),
                                                    data = this.dataSource.data(),
                                                    total = data.length,
                                                    totalCanSubmit = $.grep(data, function(obj) { return obj.EnableDocumentAction; }).length;

                                                $checkAllEl.prop("checked", false);
                                                $checkAllEl.prop("disabled", data.length === 0 || totalCanSubmit === 0);
                                                $(".action-btn").prop("disabled", true);
                                                $(".save-btn").prop("disabled", true);

                                                var wrapper = this.wrapper,
                                                    header = wrapper.find(".k-grid-header"),
                                                    root = wrapper.closest(".k-grid"),
                                                    contentLocked = root.find(".k-grid-content-locked"),
                                                    content = root.find(".k-grid-content");

                                                function resizeFixed() {
                                                    var paddingRight = parseInt(header.css("padding-right"));
                                                    header.css("width", wrapper.width() - paddingRight);
                                                }

                                                function scrollFixed() {
                                                    var offset = $(this).scrollTop() + 50,
                                                        tableOffsetTop = wrapper.offset().top,
                                                        tableOffsetBottom = tableOffsetTop + wrapper.height() - header.height();

                                                    if(offset < tableOffsetTop || offset > tableOffsetBottom) {
                                                        header.removeClass("fixed-header");
                                                        contentLocked.css("margin-top", 0);
                                                        content.css("margin-top", 0);
                                                    } else if(offset >= tableOffsetTop && offset @Html.Raw("<=") tableOffsetBottom && !header.hasClass("fixed")) {
                                                        header.addClass("fixed-header");
                                                        contentLocked.css("margin-top", "50px");
                                                        content.css("margin-top", "50px");
                                                    }
                                                }

                                                resizeFixed();

                                                $(window).resize(resizeFixed);
                                                $(window).scroll(scrollFixed);

                                                $("#chart").data("kendoChart").dataSource.read();
                                                $("#thirdChart").data("kendoChart").dataSource.read();
                                            }
                                        </text>);
                                    })
                                    .Scrollable(scrollable => scrollable.Height("auto"))
                                    .Deferred()
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (chief)
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="row">
                            <label class="col-md-3 col-sm-4 col-4">@Localizer["Send Update?"]</label>
                            <div class="col-md-9 col-sm-8 col-8">
                                <div class="float-right">
                                    <button class="action-btn btn btn-primary" data-trigger="handler" data-handler="postHandler" data-parameters-action="approve" disabled="disabled">
                                        <i class="ft-check"></i> <span class="d-none d-md-inline">@Localizer["Approve"]</span>
                                    </button>
                                    <button class="action-btn btn red" data-trigger="handler" data-handler="postHandler" data-parameters-action="reject" disabled="disabled">
                                        <i class="ft-x"></i> <span class="d-none d-md-inline">@Localizer["Reject"]</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}