@using TAMHR.ESS.Infrastructure
@model IEnumerable<TAMHR.ESS.Domain.DocumentApprovalChangeTracking>
@inject TAMHR.ESS.Infrastructure.DomainServices.ConfigService ConfigService
@if (!Model.Any())
{
    <div class="text-center p-3 text-muted">
        <i class="fa fa-clipboard font-large-1"></i><br />@Localizer["No history found"]
    </div>
}
else
{
    var ordered = Model.OrderByDescending(x => x.CreatedOn);
    <div class="mt-comments mt-comments-bordered">
        @foreach (var documentHistory in ordered)
        {
            <div class="mt-comment">
                <div class="mt-comment-img">
                    <img src="@ConfigService.ResolveAvatar(documentHistory.CreatedBy)" style="width: 2.5rem; height: 3rem;">
                </div>
                <div class="mt-comment-body">
                    <div class="mt-comment-info">
                        <span class="mt-comment-author">@documentHistory.Name</span>
                        <span class="mt-comment-sub-info">Change HPL to @documentHistory.FormattedValue</span>
                        <span class="mt-comment-time">
                            <i class="fa fa-clock-o"></i> @documentHistory.CreatedOn.ToString("dd MMM yyyy - HH:mm tt")
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
}