@{ 
    ScriptManager.RegisterReferences("autocomplete", "combobox");
}
@section pageToolbars {
    <div class="dropdown">
        <a href="javascript:;" class="btn btn-sm dropdown-toggle red-sunglo" data-toggle="dropdown">
            <i class="ft-settings"></i> <span class="d-none d-sm-inline">@Localizer["Actions"]</span> <i class="ft-chevron-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;" data-target="grid" data-trigger="modal" data-modal="bank-modal" data-modal-title="Create new Personal Document" data-modal-ajax="true" data-ajax-url="~/masterdata/personaldatadocument/load">
                    @Localizer["Create Personal Document"]
                </a>
            </li>
            <li>
                <a href="~/api/master-data/personal-data-document/download-report">
                    @Localizer["Download"]
                </a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="modal" data-modal="upload-modal" data-modal-title="Upload Personal Document" data-modal-ajax="true" data-ajax-url="~/core/home/genericdatauploader" data-parameters-url="~/api/master-data/personal-data-document">
                    @Localizer["Upload"]
                </a>
            </li>
        </ul>
    </div>
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bordered">
                <h3 class="card-title">@Localizer["List of Personal Documents"]</h3>
                <div class="heading-elements">
                    @await Html.PartialAsync("_Toolbars")
                </div>
            </div>
            <div class="card-body p-0 table-wrap no-table-header">
                @(Html.Kendo().Grid<TAMHR.ESS.Domain.PersonalDataDocument>()
                    .Name("grid")
                    .HtmlAttributes(new { data_filter = "personal-documents-filter" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Id).Title("Employee").ClientTemplate(@"
                            <div class=""media"">
                                <img class=""rounded mt-1"" src=""#:app.resolveImageUrl(NoReg)#"" alt=""avatar"" style=""width: 2rem; height: 2rem;"">
                                <div class=""media-body ml-3"">
                                    <h6 class=""mt-1 mb-0 bold"">#:Name#</h6>
                                </div>
                            </div>
                        ");

                        columns.Bound(c => c.NoReg).Title("Title").ClientTemplate(@"
                            <h6 class=""bold font-small-3 mb-0"">#:DocumentTypeCode#</h6>
                            <small class=""d-block"">#:DocumentValue#</small>
                        ");

                        columns.Bound(c => c.Id).Title("Action").HtmlAttributes(new { @class = "text-center" }).ClientTemplate(@"
                            <div class=""btn-group"">
                                <a class=""btn btn-sm blue-sharp"" data-trigger=""modal"" data-modal=""personal-data-document-modal"" data-modal-title=""Edit Personal Document - #:Name#"" data-modal-ajax=""true"" data-ajax-url=""~/masterdata/personaldatadocument/load"" data-parameters-id=""#:Id#"">
                                    <i class=""ft-edit""></i>
                                </a>
                                <a class=""btn btn-sm red"" data-trigger=""handler"" data-url=""~/api/master-data/personal-data-document"" data-handler=""deleteHandler"" data-parameters-id=""#:Id#"">
                                    <i class=""ft-trash""></i>
                                </a>
                            </div>
                        ").Width(150);
                    })
                    .NoRecords(config => config.Template(@"<div class=""text-center p-2 text-muted""><i class=""fa fa-clipboard font-large-1""></i><br/>" + Localizer["No data found"].Value + "</div>"))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Url(Url.Content("~/api/master-data/personal-data-document/gets")))
                        .Sort(sort =>
                        {
                            sort.Add(x => x.Name);
                            sort.Add(x => x.DocumentTypeCode);
                        })
                        .PageSize(10)
                    )
                    .Pageable(options =>
                    {
                        options.Input(true);
                        options.Numeric(false);
                        options.AlwaysVisible(false);
                    })
                    .Deferred()
                )
            </div>
        </div>
    </div>
</div>