@inject TAMHR.ESS.Infrastructure.DomainServices.ClaimBenefitService ClaimBenefitService
@{
    var noreg = User.GetClaim("NoReg");

    var latestFrame = ClaimBenefitService.GetLatestClaim(noreg, "frame");
    var latestLens = ClaimBenefitService.GetLatestClaim(noreg, "lensa");
    var culture = new System.Globalization.CultureInfo("id-ID");
    var currentCulture = System.Globalization.CultureInfo.CurrentUICulture;
}
@if (latestFrame != null || latestLens != null)
{
    <div class="card">
        <div class="card-body pb-0">
            <p>@Localizer["<b>Eyeglasses</b> claim form is a claim & benefit form to claim frame and lens"]</p>
            <h6 class="bold"><u>@Localizer["Latest Claim"]</u></h6>
            <dl class="row">
                @if (latestLens != null)
                {
                    <dt class="col-md-1">@Localizer["Lensa"]</dt>
                    <dd class="col-md-11">@latestLens.TransactionDate.ToString("MMMM yyyy", currentCulture) (@latestLens.Ammount.ToString("C", culture))</dd>
                }
                @if (latestFrame != null)
                {
                    <dt class="col-md-1">@Localizer["Frame"]</dt>
                    <dd class="col-md-11">@latestFrame.TransactionDate.ToString("MMMM yyyy", currentCulture) (@latestFrame.Ammount.ToString("C", culture))</dd>
                }
            </dl>
        </div>
    </div>
}