<ul id="user-impersonations-filter" class="page-toolbars" data-role="filter">
    <li>
        <a class="font-purple-plum" data-trigger="handler" data-handler="filterHandler">
            <i class="icon-magnifier"></i>
        </a>
        <input type="text" class="search-input hidden" data-trigger="filter" data-operator="or" data-filters='["NoReg", "Name", "ImpersonateName", "PostName", "JobName"]' />
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle font-green-haze" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sort-amount-desc"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="Name">@Localizer["Name"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="ImpersonateName">@Localizer["Impersonate Name"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="PostCode">@Localizer["Post Code"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="PostName">@Localizer["Post Name"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="CreatedOn">@Localizer["Date Created"]</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="p-2">
                <a href="javascript:;" class="btn red" data-trigger="filter" data-clear="sort">@Localizer["Clear"]</a>
            </li>
        </ul>
    </li>
</ul>