@{ 
    ScriptManager.RegisterReferences("datepicker", "combobox", "timepicker");
}
@section pageToolbars {
    <div class="dropdown">
        <a href="javascript:;" class="btn btn-sm dropdown-toggle red-sunglo" data-toggle="dropdown">
            <i class="ft-settings"></i> <span class="d-none d-sm-inline">@Localizer["Actions"]</span> <i class="ft-chevron-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;" data-target="grid" data-trigger="modal" data-modal="form-modal" data-modal-title="Create new Form" data-modal-ajax="true" data-ajax-url="~/core/form/load">
                    @Localizer["Create Form"]
                </a>
            </li>
            <li>
                <a href="~/api/form/download">
                    @Localizer["Download"]
                </a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="modal" data-modal="upload-modal" data-modal-title="Upload Form" data-modal-ajax="true" data-ajax-url="~/core/home/genericdatauploader" data-parameters-url="~/api/form">
                    @Localizer["Upload"]
                </a>
            </li>
        </ul>
    </div>
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bordered">
                <h3 class="card-title">@Localizer["List of Form"]</h3>
                <div class="heading-elements">
                    @await Html.PartialAsync("Components/_FormsToolbars")
                </div>
            </div>
            <div class="card-body p-0 table-wrap no-table-header">
                @(Html.Kendo().Grid<TAMHR.ESS.Domain.Form>()
                    .Name("grid")
                    .HtmlAttributes(new { data_filter = "forms-filter" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.Id).Title("Role").HtmlAttributes(new { @class = "pl-4" }).ClientTemplate(@"
                            <div class=""media"">
                                <i class=""#:IconClass# font-large-2""></i>
                                <div class=""media-body ml-3"">
                                    <h6 class=""mt-1 mb-0 bold"">#:Title#</h6>
                                    <small>#:FormKey#</small>
                                </div>
                            </div>
                        ");
                        columns.Bound(c => c.Id).Title("Action").HtmlAttributes(new { @class = "text-center" }).ClientTemplate(@"
                            <a class=""btn btn-sm blue-sharp"" data-trigger=""modal"" data-modal=""form-modal"" data-modal-title=""Edit Form - #:Title#"" data-modal-ajax=""true"" data-ajax-url=""~/core/form/load"" data-parameters-id=""#:Id#"">
                                <i class=""ft-edit""></i>
                            </a>
                        ").Width(90);
                    })
                    .NoRecords(config => config.Template(@"<div class=""text-center p-2 text-muted""><i class=""fa fa-clipboard font-large-1""></i><br/>" + Localizer["No data found"].Value + "</div>"))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Url(Url.Content("~/api/form/gets")))
                        .Sort(sort => sort.Add("Title"))
                        .PageSize(8)
                    )
                    .Pageable(options =>
                    {
                        options.Input(true);
                        options.Numeric(false);
                        options.AlwaysVisible(false);
                    })
                    .Deferred()
                )
            </div>
        </div>
    </div>
</div>