@model DocumentRequestDetailViewModel<ReturnBpkbCOPViewModel>
@{
    bool isCanEdit = AclHelper.CanEdit();
    ScriptManager.RegisterReferences("grid");
    bool IsRoleForm = User.GetClaim("Roles").Split(",").Contains(Model.FormRoleKey);
    if (Model.Requester == User.GetClaim("NoReg") && Model.FormRoleKey == "R")
    { IsRoleForm = true; }
}
@section scripts {
    <script type="text/javascript">
        app.registerHandler("selectBpkb", function (parameters) {
            $("input[name='Object.BpkpId']").val(parameters.id);
            $("input[name='Object.BPKBNo']").val(parameters.nobpkb);
            $("input[name='Object.PoliceNumber']").val(parameters.licenseplat);
            $("input[name='Object.Type']").val(parameters.type);
            $("Input[name='Object.Model']").val(parameters.model);
            $("Input[name='Object.ProductionYear']").val(parameters.createdyear);
            $("Input[name='Object.Color']").val(parameters.color);
            $("Input[name='Object.FrameNumber']").val(parameters.vinno);
            $("Input[name='Object.MachineNumber']").val(parameters.engineno);
            $("Input[name='Object.Name']").val(parameters.vehicleowner);
            $("#Object_Address").val(parameters.address);
            $("#app-modal-instance-1").modal('toggle');
        });

        if ('@Model.Object.IsOtherNecessity' == 'True') {
            $("#DivOtherNecessity").show();
            $("#DivNecessityCode").hide();
            $("#Object_IsOtherNecessity").prop("checked", true);
        } else {
            $("#DivOtherNecessity").hide();
            $("#DivNecessityCode").show();
            $("#Object_IsOtherNecessity").prop("checked", false);
        }

        $('input[type=checkbox][id=Object_IsOtherNecessity]').change(function () {
            console.log($(this).is(':checked'))
            if ($(this).is(':checked')) {
                $("#DivOtherNecessity").show();
                $("#DivNecessityCode").hide();
                $("#Object_NecessityCode").data("kendoComboBox").value("");
                $("#Object_OtherNecessity").val("");
            }
            else {
                $("#DivOtherNecessity").hide();
                $("#DivNecessityCode").show();
                $("#Object_OtherNecessity").val("");
                $("#Object_NecessityCode").data("kendoComboBox").value("");
            }
        });
        function onBorrowChange() {
            let min = this.value();
            let max = new Date(min);
            max.setDate(max.getDate() - 1);
            let addedDays = 0;
            while (addedDays < 7) {
                max.setDate(max.getDate() + 1);
                const dayOfWeek = max.getDay();
                if (dayOfWeek === 0 || dayOfWeek === 6)
                {
                    continue;
                }
                addedDays++;
            }
            $('#Object_ReturnDate').kendoDatePicker({
                min: min,
                max: max,
                format: 'dd/MM/yyyy'
            });
        }
    </script>
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@Localizer["Borrow PKB Request Detail"]</h4>
                <a class="heading-elements-toggle">
                    <i class="ft-ellipsis-h font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="ft-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <legend>@Localizer["BPKB Data"]</legend>
                                <div class="form-group">
                                    <label><span class="required" aria-required="true"> * </span>@Localizer["License Plate"]</label>
                                    <div class="row">
                                        <div class="col-md-7">
                                            @Html.HiddenFor(x => x.Object.BpkpId)
                                            @Html.HiddenFor(x => x.Object.BPKBNo)
                                            @Html.TextBoxFor(x => x.Object.PoliceNumber, ApplicationHelper.Enable(new { @class = "form-control", data_validation_for = "Object.PoliceNumber", @readonly = "readonly" }, isCanEdit))
                                        </div>
                                        <div class="col-md-1">
                                            @if (isCanEdit)
                                            {
                                                <a href="#" data-trigger="modal" data-modal-title="Data BPKB" data-modal-ajax="true" data-ajax-url="~/core/bpkb/loadgrid">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["Brand/Type"]</label>
                                    @Html.TextBoxFor(x => x.Object.Type, ApplicationHelper.Enable(new {
                                   @class = "form-control", data_validation_for = "Object.Type", @readonly = "readonly" }, isCanEdit))
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["Variety/Model"]</label>
                                    @Html.TextBoxFor(x => x.Object.Model, ApplicationHelper.Enable(new {
                                   @class = "form-control", data_validation_for = "Object.Model", @readonly = "readonly" }, isCanEdit))
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["Production Year"]</label>
                                    @Html.TextBoxFor(x => x.Object.ProductionYear, ApplicationHelper.Enable(new { @class = "form-control", data_validation_for = "Object.ProductionYear", @readonly = "readonly" }, isCanEdit))
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["Color"]</label>
                                    @Html.TextBoxFor(x => x.Object.Color, ApplicationHelper.Enable(new { @class = "form-control", data_validation_for = "Object.Color", @readonly = "readonly" }, isCanEdit))
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["Frame Number"]</label>
                                    @Html.TextBoxFor(x => x.Object.FrameNumber, ApplicationHelper.Enable(new {
                                   @class = "form-control", data_validation_for = "Object.FrameNumber",
                                   @readonly = "readonly"
                               }, isCanEdit))
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["Machine Number"]</label>
                                    @Html.TextBoxFor(x => x.Object.MachineNumber, ApplicationHelper.Enable(new {
                                   @class = "form-control", data_validation_for = "Object.MachineNumber",
                                   @readonly = "readonly"
                               }, isCanEdit))
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["On Behalf Of"].Value</label>
                                    @Html.TextBoxFor(x => x.Object.Name, ApplicationHelper.Enable(new {
                                   @class = "form-control", data_validation_for = "Object.Name",
                                   @readonly = "readonly"
                               }, isCanEdit))
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["Address"]</label>
                                    @Html.TextAreaFor(x => x.Object.Address, ApplicationHelper.Enable(new {
                                   @class = "form-control", data_validation_for = "Object.Address",
                                   @readonly = "readonly"
                               }, isCanEdit))
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <legend>@Localizer["Borrowing Information"]</legend>
                                <label>@Localizer["Needs"]</label>
                                <div class="row">

                                    <div id="DivNecessityCode" class="col-md-8 col-sm-6 form-group">
                                        @(Html.KendoComboBoxFor(x => x.Object.NecessityCode, "NecessityCode")
                                                                                                         .HtmlAttributes(new { @class = "form-control", data_validation_for = "Object.NecessityCode" })
                                                                                                         .Placeholder(Localizer["Select Needs"].Value)
                                                                                                         .DataTextField("Name")
                                                                                                         .DataValueField("Code")
                                                                                                         .DataSource(dataSource => dataSource
                                                                                                           .Ajax()
                                                                                                           .Read(read => read.Url(Url.Content("~/api/category/getsbycategory?category=pinjamBKPBCOP")))
                                                                                                         )
                                                                                                         .SelectedIndex(-1)
                                                                                                         .Enable(isCanEdit)
                                                                                                         .Deferred()
                                        )
                                    </div>
                                    <div id="DivOtherNecessity" class="col-md-8 col-sm-6 form-group">
                                        @Html.TextBoxFor(x => x.Object.OtherNecessity, ApplicationHelper.Enable(new { @class = "form-control", data_validation_for = "Object.OtherNecessity", placeholder = Localizer["Please Input Necessity"].Value }, isCanEdit))
                                    </div>
                                    <div class="col-md-3 col-sm-3 exclude form-group">
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox green mt-checkbox-outline">
                                                @Localizer["Other"]
                                                <input type="checkbox" id="Object_IsOtherNecessity" name="Object.IsOtherNecessity" class="form-control" ,
                                                       data_validation_for="Object.IsOtherNecessity" @(!isCanEdit ? "disabled" : "") />
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <label>@Localizer["Necessary"]</label>
                                        @(Html.KendoComboBoxFor(x => x.Object.NecessityCode, "NecessityCode")
                                                      .HtmlAttributes(new { @class = "form-control", data_validation_for = "Object.NecessityCode" })
                                                      .Placeholder(Localizer["Select Necessary"].Value)
                                                      .DataTextField("Name")
                                                      .DataValueField("Name")
                                                      .DataSource(dataSource => dataSource
                                                        .Ajax()
                                                        .Read(read => read.Url(Url.Content("~/api/category/getsbycategory?category=pinjamBKPBCOP")))
                                                      )
                                                      .SelectedIndex(-1)
                                                      .Enable(isCanEdit)
                                                      .Deferred()
                                        )
                                    </div>*@
                                <div class="form-group">
                                    <label><span class="required" aria-required="true"> * </span>@Localizer["Borrow Date"]</label>

                                    @(Html.Kendo().DatePickerFor(x => x.Object.LoanDate)
                                                                                                          .HtmlAttributes(new { @class = "form-control", @data_validation_for = "Object.LoanDate", @placeholder = Localizer["Select Date (dd/MM/yyyy)"].Value })
                                                                                                          .Enable(isCanEdit)
                                                                                                          .Format("dd/MM/yyyy")
                                                                                                          .Events(x => x.Change("onBorrowChange"))
                                                                                                          .Deferred()
                                    )
                                </div>
                                <div class="form-group">
                                    <label><span class="required" aria-required="true"> * </span>@Localizer["Return Date"]</label>
                                    @(Html.Kendo().DatePickerFor(x => x.Object.ReturnDate)
                                                                                                          .HtmlAttributes(new { @class = "form-control", @data_validation_for = "Object.ReturnDate", @placeholder = Localizer["Select Date (dd/MM/yyyy)"].Value })
                                                                                                          .Enable(isCanEdit)
                                                                                                          .Format("dd/MM/yyyy")
                                                                                                          .Deferred()
                                    )
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend class="w-auto">@Localizer["Notes"]</legend>
                                <div class="form-group">
                                    <label>@Localizer["Notes Detail"]</label>
                                    @Html.TextAreaFor(x => x.Object.Remarks, ApplicationHelper.Enable(new {
                                   @class = "form-control", placeholder = Localizer["Input Notes"].Value
                               }, isCanEdit))
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section formActions {
    @if (!IsRoleForm && Model.FormRoleKey == "Self")
    {
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <label class="col-md-3 col-sm-3">@Localizer["Send Update?"]</label>
                                <div class="col-md-9 col-sm-9">
                                    <div class="float-right">
                                        @if (AclHelper.CanApprove())
                                        {
                                            <a class="btn btn-success" href="#" data-trigger="handler" data-handler="postHandler" data-parameters-id="@Model.DocumentApprovalId" data-parameters-action="approve" data-interceptor="dataInterceptor">
                                                <i class="ft-check"></i>
                                                <span class="d-none d-md-inline">@Localizer["RETURNED"]</span>
                                            </a>
                                        }
                                        @if (AclHelper.CanCancel())
                                        {
                                            if (ApplicationHelper.IsDefault(Model.Id))
                                            {
                                                <a class="btn btn-danger" href="~/core/form/index?formKey=@Model.FormKey">
                                                    <i class="ft-x"></i> <span class="d-none d-md-inline">@Localizer["Cancel"]</span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger" href="#" data-trigger="handler" data-handler="postHandler" data-parameters-id="@Model.DocumentApprovalId" data-parameters-action="cancel" data-parameters-redirecturl="~/core/form/index?formKey=@Model.FormKey">
                                                    <i class="ft-x"></i> <span class="d-none d-md-inline">@Localizer["Drop Request"]</span>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @(await Html.PartialAsync("Components/_ActionButtons"))
    }
}
