@model DocumentRequestDetailViewModel<DataRequestViewModel>
@{
    var permissions = Model.Permissions;
    var canUploadAttachment = permissions.Contains("CanUpload") && AclHelper.CanApprove();
    var hasAttachment = Model.Attachments != null && Model.Attachments.Any(x => x.FieldCategory == "AttachmentFilePath");
}
@section scripts {
    @if (canUploadAttachment)
    {
        <script type="text/javascript">
            (function ($, app) {
                app.interceptHandler("postHandler", x => x.action == "approve", function (parameters, callback) {
                    let $form = $("#mainForm"),
                        data = $form.serializeObject();

                    $.post("~/api/data-request/upload-attachment", data, function (d) {
                        callback();
                    }).fail(function (xhr, status, error) {
                        $form.validate(xhr.responseJSON);
                    });
                });
            })(jQuery, app);
        </script>
    }
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bordered">
                <h4 class="card-title">@Localizer["Data Request Detail"]</h4>
                <a class="heading-elements-toggle">
                    <i class="ft-ellipsis-h font-medium-3"></i>
                </a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a data-action="collapse">
                                <i class="ft-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <legend>@Localizer["Request Detail"]</legend>
                                <div class="form-group">
                                    <label><span class="required" aria-required="true"> * </span>@Localizer["Data Description"]</label>
                                    @Html.TextAreaFor(x => x.Object.DataDescription, ApplicationHelper.Enable(new { @class = "form-control", data_validation_for = "Object.DataDescription", placeholder = Localizer["Please input data description"].Value, style = "height: 123px;" }, AclHelper.CanEdit()))
                                    <span class="invalid" data-validation-for="Object.DataDescription"></span>
                                </div>
                                <div class="form-group">
                                    <label><span class="required" aria-required="true"> * </span>@Localizer["Purpose of Usage"]</label>
                                    @Html.TextAreaFor(x => x.Object.PurposeOfUsage, ApplicationHelper.Enable(new { @class = "form-control", data_validation_for = "Object.PurposeOfUsage", placeholder = Localizer["Please input purpose of usage"].Value, style = "height: 123px;" }, AclHelper.CanEdit()))
                                    <span class="invalid" data-validation-for="Object.PurposeOfUsage"></span>
                                </div>
                                <div class="form-group">
                                    <label><span class="required" aria-required="true"> * </span>@Localizer["Request Date"]</label>
                                    @(Html.Kendo().DatePickerFor(x => x.Object.RequestDate)
                                        .HtmlAttributes(new { @class = "form-control", @data_validation_for = "RequestDate", placeholder = Localizer["Please select date"].Value })
                                        .Enable(AclHelper.CanEdit())
                                        .Min(DateTime.Now)
                                        .Format("dd/MM/yyyy")
                                        .Deferred()
                                    )
                                    <span class="invalid" data-validation-for="Object.RequestDate"></span>
                                </div>
                                <div class="form-group">
                                    <label><span class="required" aria-required="true"> * </span>@Localizer["Attachment"]</label>
                                    @if (AclHelper.CanEdit())
                                    {
                                        @(await Component.InvokeAsync<FileUpload>(new { docId = Model.DocumentApprovalId, field = "Object.FilePath" }))
                                        <span class="invalid" data-validation-for="Object.FilePath"></span>
                                    }
                                    else
                                    {
                                        <br />
                                        @await Component.InvokeAsync("Attachment", new { files = Model.Attachments, fieldCategory = "Object.FilePath" })
                                    }
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            @if (canUploadAttachment || hasAttachment)
                            {
                                <fieldset class="mb-3">
                                    <legend><span class="required" aria-required="true"> * </span>@Localizer["Supporting Attachment"]</legend>
                                    <div class="form-group inline">
                                        @if (canUploadAttachment)
                                        {
                                            @(await Component.InvokeAsync<FileUpload>(new { docId = Model.DocumentApprovalId, field = "AttachmentFilePath" }))
                                        }
                                        else
                                        {
                                            @(await Component.InvokeAsync<Attachment>(new { files = Model.Attachments, fieldCategory = "AttachmentFilePath" }))
                                        }
                                    </div>
                                </fieldset>
                            }
                            <fieldset>
                                <legend>@Localizer["Notes"]</legend>
                                <div class="form-group inline">
                                    <label>@Localizer["Notes Detail"]</label>
                                    @Html.TextAreaFor(x => x.Object.Remarks, ApplicationHelper.Enable(new { @class = "form-control", data_validation_for = "Object.Remarks", placeholder = Localizer["Please input remarks"].Value, style = "height: 173px;" }, AclHelper.CanEdit()))
                                    <span class="invalid" data-validation-for="Object.Remarks"></span>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>