@{
    ScriptManager.RegisterReference("multiselect");
}
@section scripts {
    <script type="text/javascript">
        (function ($, app) {
            app.registerHandler("dataInterceptor", function (d) {
                d.Colors = $("#Colors").val().join(",");

                return d;
            });
        })(jQuery, app);
    </script>
}
@section pageToolbars {
    <div class="dropdown">
        <a href="javascript:;" class="btn btn-sm dropdown-toggle red-sunglo" data-toggle="dropdown">
            <i class="ft-settings"></i> <span class="d-none d-sm-inline">@Localizer["Actions"]</span> <i class="ft-chevron-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;" data-target="grid" data-trigger="modal" data-modal="vehicle-modal" data-modal-title="Create new Vehicle" data-modal-ajax="true" data-ajax-url="~/masterdata/vehicle/load">
                    @Localizer["Create Vehicle"]
                </a>
            </li>
            <li>
                <a href="~/api/vehicle/download">
                    @Localizer["Download"]
                </a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="modal" data-modal="upload-modal" data-modal-title="Upload Vehicle" data-modal-ajax="true" data-ajax-url="~/core/home/genericdatauploader" data-parameters-url="~/api/vehicle">
                    @Localizer["Upload"]
                </a>
            </li>
        </ul>
    </div>
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bordered">
                <h3 class="card-title">@Localizer["List of Vehicles"]</h3>
                <div class="heading-elements">
                    @await Html.PartialAsync("_Toolbars")
                </div>
            </div>
            <div class="card-body p-0 table-wrap no-table-header">
                @(Html.Kendo().Grid<TAMHR.ESS.Domain.Vehicle>()
                            .Name("grid")
                            .HtmlAttributes(new { data_filter = "vehicles-filter" })
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.Id).Title("Vehicle").ClientTemplate(@"
                                    <div class=""media"">
                                        <div class=""media-body ml-3"">
                                            <h6 class=""mt-1 mb-0 bold"">
                                                #:TypeName# #:Type#
                                            </h6>
                                            <small class=""d-block"">
                                                #:ModelCode# (Rp #:kendo.toString(FinalPrice, '\\#\\#,\\#')#)
                                                # if (CPP) { #
                                                    <label class=""badge badge-success mt-2"">CPP</label>
                                                # } #
                                                # if (COP) { #
                                                    <label class=""badge badge-info mt-2"">COP</label>
                                                # } #
                                                # if (SCP) { #
                                                    <label class=""badge badge-secondary mt-2"">SCP</label>
                                                # } #
                                            </small>
                                        </div>
                                    </div>
                                ");
                                columns.Bound(c => c.Id).Title("Action").HtmlAttributes(new { @class = "text-center" }).ClientTemplate(@"
                                    <div class=""btn-group"">
                                        <a class=""btn btn-sm blue-sharp"" data-trigger=""modal"" data-modal=""vehicle-modal"" data-modal-title=""Edit Vehicle"" data-modal-ajax=""true"" data-ajax-url=""~/masterdata/vehicle/load"" data-parameters-id=""#:Id#"">
                                            <i class=""ft-edit""></i>
                                        </a>
                                        <a class=""btn btn-sm red"" data-trigger=""handler"" data-url=""~/api/vehicle"" data-handler=""deleteHandler"" data-parameters-id=""#:Id#"">
                                            <i class=""ft-trash""></i>
                                        </a>
                                    </div>
                                ").Width(150);
                            })
                            .NoRecords(config => config.Template(@"<div class=""text-center p-2 text-muted""><i class=""fa fa-clipboard font-large-1""></i><br/>" + Localizer["No data found"].Value + "</div>"))
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read.Url(Url.Content("~/api/vehicle/gets")))
                                .Sort(sort =>
                                {
                                    sort.Add("TypeName");
                                    sort.Add("Type");
                                })
                                .PageSize(8)
                            )
                            .Pageable(options =>
                            {
                                options.Input(true);
                                options.Numeric(false);
                                options.AlwaysVisible(false);
                            })
                            .Deferred()
                )
            </div>
        </div>
    </div>
</div>