@model TAMHR.ESS.Domain.News
@{
    ViewData["Title"] = Localizer["News"].Value + " - " + Model.Title;
    var creator = (TAMHR.ESS.Domain.User)ViewBag.Creator;
}
@section pageTitle {
<div class="page-title">
    <h1 class="separator d-none d-lg-inline-block">@Localizer["News"]</h1>
    <div class="row breadcrumbs-top d-inline-block">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="~/">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="~/core/news">@Localizer["News"]</a>
                </li>
                <li class="breadcrumb-item active d-none d-lg-block">
                    @Model.SlugUrl
                </li>
            </ol>
        </div>
    </div>
</div>
}
@section scripts {
    <script type="text/javascript" src="~/plugins/jquery.idle.min.js"></script>
    <script type="text/javascript">
        $(document).idle({
            onIdle: function () {
                $.post("~/api/news/read", @Json.Serialize(Model), function (d) { });
            },
            idle: 30000
        });
    </script>
}
<div class="card">
    <div class="card-header mb-3">
        <h4 class="card-title">@Model.Title</h4>
        <div class="heading-elements d-none d-lg-inline">
            <div class="heading-text">
                <i class="ft-calendar"></i>&nbsp;@Model.CreatedOn.ToString("dd MMM yyyy")
            </div>
        </div>
    </div>
    <div class="card-content">
        <img class="w-100" src="@Url.Content(Model.ImageUrl)" />
        <div class="card-body">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <span title="View Count"><i class="ft-eye"></i> @Model.ViewCount</span>
                </li>
                <li class="list-inline-item">
                    <span title="Read Count"><i class="ft-book"></i> @Model.ReadCount</span>
                </li>
                <li class="list-inline-item">
                    <i class="ft-user"></i> @creator.Name
                </li>
            </ul>
            <h3 class="font-small-1 d-block d-lg-none">
                <i class="ft-calendar"></i>&nbsp;posted at @Model.CreatedOn.ToString("dd MMM yyyy")
            </h3>
            @Html.Raw(Model.BodyHtml)
        </div>
    </div>
</div>

