<ul id="proxy-log-filter" class="page-toolbars" data-role="filter">
    <li style="background: none!important;">
        <a class="font-purple-plum" data-trigger="handler" data-handler="filterHandler">
            <i class="icon-magnifier"></i>
        </a>
        <input type="text" class="search-input hidden" data-trigger="filter" data-operator="or" data-filters='["TargetUsername" , "IpAddress", "Originator"]' />
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle font-green-haze" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-sort-amount-desc"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="Originator">@Localizer["Originator"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="TargetUsername">@Localizer["Target Username"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="IpAddress">@Localizer["IP Address"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="CreatedOn">@Localizer["Created Date"]</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="p-2">
                <a href="javascript:;" class="btn red" data-trigger="filter" data-clear="sort">@Localizer["Clear"]</a>
            </li>
        </ul>
    </li>
    <li class="dropdown custom-filter">
        <a class="dropdown-toggle font-medium-2 font-blue-sharp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-filter"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="width: 250px;">
            <form class="form-horizontal p-2" role="form">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>@Localizer["Start Date"]</label>
                            @(Html.Kendo().DatePicker()
                                .Name("StartDate")
                                .HtmlAttributes(new { style = "width: 100%", placeholder = Localizer["Please input a date"].Value })
                                .Format("dd/MM/yyyy")
                                .Deferred()
                            )
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>@Localizer["End Date"]</label>
                            @(Html.Kendo().DatePicker()
                                .Name("EndDate")
                                .HtmlAttributes(new { style = "width: 100%", placeholder = Localizer["Please input a date"].Value })
                                .Format("dd/MM/yyyy")
                                .Deferred()
                            )
                        </div>
                    </div>
                </div>
                <hr class="mt-1"/>
                <a href="javascript:;" class="btn red btn-block" data-trigger="handler" data-handler="searchHandler">@Localizer["Search"]</a>
            </form>
        </div>
    </li>
</ul>