@section pageToolbars {
    <div class="dropdown">
        <a href="javascript:;" class="btn btn-sm dropdown-toggle red-sunglo" data-toggle="dropdown">
            <i class="ft-settings"></i> <span class="d-none d-sm-inline">@Localizer["Actions"]</span> <i class="ft-chevron-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;" data-target="grid" data-trigger="modal" data-modal="printout-matrix-modal" data-modal-title="Create new Printout Matrix" data-modal-ajax="true" data-ajax-url="~/masterdata/printoutmatrix/load">
                    @Localizer["Create Printout Matrix"]
                </a>
            </li>
            <li>
                <a href="~/api/master-data/printout-matrix/download">
                    @Localizer["Download"]
                </a>
            </li>
        </ul>
    </div>
}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bordered">
                <h3 class="card-title">@Localizer["List of Printout Matrices"]</h3>
                <div class="heading-elements">
                    @await Html.PartialAsync("_Toolbars")
                </div>
            </div>
            <div class="card-body p-0 table-wrap no-table-header">
                @(Html.Kendo().Grid<TAMHR.ESS.Domain.PrintoutMatrixView>()
                    .Name("grid")
                    .HtmlAttributes(new { data_filter = "printout-matrices-filter" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.FormTitle).Title("Matrix").ClientTemplate(@"
                            <div class=""media"">
                                <div class=""media-body ml-2"">
                                    <small class=""d-block""># if(SubType != null && SubType != '') { # <b>(#:SubType#)</b> # } # #:ApproverText# (#:ApproverType#)</small>
                                </div>
                            </div>
                        ").ClientGroupHeaderTemplate("<b>#:value#</b>");
                        columns.Bound(c => c.Id).Title("Action").HtmlAttributes(new { @class = "text-center" }).ClientTemplate(@"
                            <div class=""btn-group"">
                                <a class=""btn btn-sm blue-sharp"" data-trigger=""modal"" data-modal=""printout-matrix-modal"" data-modal-title=""Edit Printout Matrix"" data-modal-ajax=""true"" data-ajax-url=""~/masterdata/printoutmatrix/load"" data-parameters-id=""#:Id#"">
                                    <i class=""ft-edit""></i>
                                </a>
                                <a class=""btn btn-sm red"" data-trigger=""handler"" data-url=""~/api/master-data/printout-matrix"" data-handler=""deleteHandler"" data-parameters-id=""#:Id#"">
                                    <i class=""ft-trash""></i>
                                </a>
                            </div>
                        ").Width(150);
                    })
                    .NoRecords(config => config.Template(@"<div class=""text-center p-2 text-muted""><i class=""fa fa-clipboard font-large-1""></i><br/>" + Localizer["No data found"].Value + "</div>"))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Url(Url.Content("~/api/master-data/printout-matrix/gets")))
                        .Sort(sort =>
                        {
                            sort.Add("FormTitle");
                        })
                        .Group(group => group.Add(x => x.FormTitle))
                    )
                    .Deferred()
                )
            </div>
        </div>
    </div>
</div>