<ul id="kp-filter" class="page-toolbars" data-role="filter">
    <li>
        <a class="font-purple-plum" data-trigger="handler" data-handler="filterHandler">
            <i class="icon-magnifier"></i>
        </a>
        <input type="text" class="search-input hidden" data-trigger="filter" data-operator="or" data-filters='["Name", "KategoriPenyakit", "Penyakit"]' />
    </li>
    <li class="dropdown dropdown-arrow">
        <a href="javascript:;" class="font-normal dropdown-toggle font-green-haze" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-sort-amount-desc"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="Name">@Localizer["Tingkat Sakit"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="KategoriPenyakit">@Localizer["Kategori Penyakit"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="Penyakit">@Localizer["Penyakit"]</a>
            </li>
            <li>
                <a href="javascript:;" data-trigger="filter" data-sort="CreatedOn">@Localizer["Date Created"]</a>
            </li>
            <li class="dropdown-divider"></li>
            <li class="p-2">
                <a href="javascript:;" class="btn red" data-trigger="filter" data-clear="sort">@Localizer["Clear"]</a>
            </li>
        </ul>
    </li>
    
    <li class="dropdown">
        <a href="javascript:;" class="font-green-haze" data-target="KategoriPenyakit" data-trigger="modal" data-modal="kp-rule-modal" data-modal-title="Create Kategori Penyakit" data-modal-ajax="true" data-ajax-url="~/masterdata/ohs/LoadKategoriPenyakit">
            <i class="fa fa-plus-circle"></i>
        </a>
    </li>
</ul>