@model TAMHR.ESS.Infrastructure.ViewModels.RequestHistoryViewModel
@inject AclHelper AclHelper

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header bordered">
                <h3 class="card-title">@Localizer["Request Histories"]</h3>
                <div class="heading-elements">
                    @await Html.PartialAsync("Components/RequestHistory/_Toolbars", Model)
                </div>
            </div>
            <div class="card-body p-0 no-table-header">
                @if (Model.FormKey == "weekly-wfh-planning")
                {
                    @(Html.Kendo().Grid<TAMHR.ESS.Domain.HybridWorkPlanningView>()
                    .Name("grid")
                    .HtmlAttributes(new { data_filter = "request-history-filter" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.DocumentNumber).ClientTemplate(@"
                            <div class=""media"">
                                <a class=""" + (Model.ShowFormTitle ? "mt-2" : string.Empty) + @""" href=""javascript:;"" data-trigger=""modal"" data-modal=""document-approval-history-modal"" data-modal-title=""Approval Histories -  #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/documentapprovalhistories"" data-parameters-id=""#:Id#"">
                                    <i class=""approval-icon-#:DocumentStatusCode# font-large-2""></i>
                                </a>
                                <div class=""media-body ml-2"">
                                    <a href=""" + Url.Content($"~/core/form/view?formKey=#:FormKey#&id=#:Id#") + @""" class=""font-dark"">
                                        " + (Model.ShowFormTitle ? @"<h6 class=""mt-1 mb-0 bold font-small-3"">#:FormTitle#</h6>" : string.Empty) + @"
                                        <h6 class=""mt-1 mb-0 bold " + (Model.ShowFormTitle ? "font-small-3" : string.Empty) + @""">#:DocumentNumber#</h6>
                                        <div>
                                            #: kendo.toString(CreatedOn, 'dd MMM yyyy - HH:mm tt') #
                                            # if (FormKey == 'weekly-wfh-planning') { #
                                                <br/>
                                                 Planning : #: kendo.toString(new Date(Date.parse(MonthYear.replace(' ', '-'))), 'MMM yyyy') #
                                            #}#
                                        </div>
                                        
                                    </a>
                                </div>
                                <div class=""btn-group pull-right mt-1 d-block d-sm-none"">
                                    # if (DocumentStatusCode == 'completed' && FormKey == 'weekly-wfh-planning') { #
                                        <a class=""btn btn-xs yellow ml-1 target=""_blank"" href=""" + Url.Content($"~/core/form/view?formKey=#:FormKey#&id=#:Id#") + @""" title=""Edit Form"">
                                            <i class=""ft-edit font-normal""></i>
                                        </a>
                                    # } else { #
                                        # if (FormKey == 'weekly-wfh-planning') { #
                                            # if (DocumentStatusCode == 'draft') { #
                                               <a class=""btn btn-xs #: (CreatedBy == '" + User.GetClaim("NoReg") + @"' && DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'rejected' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired' && DocumentStatusCode != 'locked') ? 'red' : 'disabled grey' #"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">
                                                    <i class=""ft-trash font-normal""></i>
                                                </a>
                                            # } #
                                        # } else { #
                                           <a class=""btn btn-xs #: (CreatedBy == '" + User.GetClaim("NoReg") + @"' && DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' &&  DocumentStatusCode != 'rejected' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired' && DocumentStatusCode != 'locked') ? 'red' : 'disabled grey' #"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">
                                                <i class=""ft-trash font-normal""></i>
                                            </a>
                                            <a class=""btn btn-xs green-jungle ml-1 #: (!CanDownload || DocumentStatusCode == 'locked') ? 'disabled grey' : '' #"" target=""_blank"" href=""" + Url.Content($"~/core/form/download?formKey=#:FormKey#&id=#:Id#") + @""">
                                                <i class=""ft-download font-normal""></i>
                                            </a>
                                        # } #
                                    # } #
                                </div>
                            </div>
                            <a href=""javascript:;"" class=""mt-1 d-block d-sm-none"" data-trigger=""modal"" data-modal-title=""Tracking Approval - #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/trackingapproval"" data-parameters-id=""#:Id#"">
                                <div class=""clearfix mb-1"">
                                    <div class=""pull-left"">#:app.translate(DocumentStatusTitle)#</div>
                                    <div class=""pull-right"">#:Progress#%</div>
                                </div>
                                <div class=""progress"" style=""height: 4px;"">
                                    <div class=""progress-bar progress-bar-striped #: css('DocumentApproval', DocumentStatusCode) #"" role=""progressbar"" aria-valuenow=""#:Progress#"" aria-valuemin=""#:Progress#"" aria-valuemax=""#:Progress#"" style=""width:#:Progress#%;""></div>
                                </div>
                                " + (Model.ShowFormTitle ? @"<small class=""font-grey-mint""><b>" + Localizer["Requested by"].Value + @" - #:CreatorName#</b></small>" : string.Empty) + @"
                            </a>
                        ").Width("17.2rem");

                        columns.Bound(c => c.Title).HtmlAttributes(new { @class = "align-middle p-0" }).ClientTemplate(@"
                            <a href=""javascript:;"" data-trigger=""modal"" data-modal-title=""Tracking Approval - #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/trackingapproval"" data-parameters-id=""#:Id#"">
                                <div class=""clearfix mb-1"">
                                    <div class=""pull-left d-none d-md-block"">#:app.translate(DocumentStatusTitle)#</div>
                                    <div class=""pull-right"">#:Progress#%</div>
                                </div>
                                <div class=""progress"" style=""height: 4px;"">
                                    <div class=""progress-bar progress-bar-striped #: css('DocumentApproval', DocumentStatusCode) #"" role=""progressbar"" aria-valuenow=""#:Progress#"" aria-valuemin=""#:Progress#"" aria-valuemax=""#:Progress#"" style=""width:#:Progress#%;""></div>
                                </div>
                                " + (Model.ShowFormTitle ? @"<small class=""font-grey-mint""><b>" + Localizer["Requested by"].Value + @" - #:CreatorName#</b></small>" : string.Empty) + @"
                            </a>
                        ").MinScreenWidth(576);

                        columns.Bound(c => c.Id).HtmlAttributes(new { @class = "align-middle text-center" }).ClientTemplate(@"
                            <div class=""btn-group"">
                                # if (DocumentStatusCode == 'completed' && FormKey == 'weekly-wfh-planning') { #
                                    <a class=""btn btn-xs yellow ml-1 target=""_blank"" href=""" + Url.Content($"~/core/form/view?formKey=#:FormKey#&id=#:Id#") + @""" title=""Edit Form"">
                                        <i class=""ft-edit font-normal""></i>
                                    </a>
                                # } else { #
                                    # if (FormKey == 'weekly-wfh-planning') { #
                                        # if (DocumentStatusCode == 'draft') { #
                                        <a class=""btn btn-xs #: (CreatedBy == '" + User.GetClaim("NoReg") + @"' && DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'rejected' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired' && DocumentStatusCode != 'locked') ? 'red' : 'disabled grey' #"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">
                                                <i class=""ft-trash font-normal""></i>
                                            </a>
                                        # } #
                                    # } else { #
                                          <a class=""btn btn-xs #: (CreatedBy == '" + User.GetClaim("NoReg") + @"' && DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'rejected' && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired' && DocumentStatusCode != 'locked') ? 'red' : 'disabled grey' #"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">
                                            <i class=""ft-trash font-normal""></i>
                                        </a>
                                        <a class=""btn btn-xs green-jungle ml-1 #: (!CanDownload || DocumentStatusCode == 'locked') ? 'disabled grey' : '' #"" target=""_blank"" href=""" + Url.Content($"~/core/form/download?formKey=#:FormKey#&id=#:Id#") + @""">
                                            <i class=""ft-download font-normal""></i>
                                        </a>
                                    # } #
                                # } #
                            </div>
                            <div class=""dropdown d-none"">
                                <a href=""javascript:;"" class=""btn btn-xs dropdown-toggle red-sunglo mt-2"" data-toggle=""dropdown"">
                                    <i class=""ft-chevron-down""></i>
                                </a>
                                <ul class=""dropdown-menu dropdown-menu-right"">
                                    <li>
                                        <a href=""" + Url.Content($"~/core/form/view?formKey=#:FormKey#&id=#:Id#") + @""">View</a>
                                    </li>
                                    # if (DocumentStatusCode == 'completed') { #
                                    <li>
                                       <a target=""_blank"" href=""" + Url.Content($"~/core/form/download?formKey=#:FormKey#&id=#:Id#") + @""">Download Form</a>
                                    </li>
                                    # } #
                                    <li class=""dropdown-divider""></li>
                                    <li>
                                        <a href=""javascript:;"" data-trigger=""modal"" data-modal-title=""Tracking Approval - #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/trackingapproval"" data-parameters-id=""#:Id#"">View Tracking Approval</a>
                                    </li>
                                    <li>
                                        <a href=""javascript:;"" data-trigger=""modal"" data-modal-title=""Approval Histories -  #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/documentapprovalhistories"" data-parameters-id=""#:Id#"">View Approval Histories</a>
                                    </li>
                                        # if (DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'rejected' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired') { #
                                        <li class=""dropdown-divider""></li>
                                        <li>
                                            <a href=""javascript:;"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">Drop Request</a>
                                        </li>
                                    # } #
                                </ul>
                            </div>
                        ").Width(135).MinScreenWidth(576);
                    })
                    .NoRecords(config => config.Template(@"<div class=""text-center py-4 px-2 text-muted small""><img src=""" + Url.Content("~/img/folder.svg") + @""" style=""width: 150px;"" /><br/>" + Localizer["No request histories found"].Value + "</div>"))
                    .Events(evt => evt.DataBinding(@<text>function() {
                        this.element.removeClass("k-grid k-widget k-display-block");
                        this.element.find("table").addClass("table w-100 mb-1");
                    }</text>))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Url(Url.Content("~/api/task/getotherforms")).Data(@<text>function() { return { formKey: "@Model.FormKey", showAll: $("#show-all").length > 0 ? $("#show-all").is(":checked") : false } }</text>))
                        .Sort(sort => sort.Add("CreatedOn").Descending())
                        .PageSize(10)
                    )
                    .Pageable(options => {
                        options.Input(true);
                        options.Numeric(false);
                        options.AlwaysVisible(false);
                    })
                    .Deferred(true)
                )
                }
                else
                {
                    @(Html.Kendo().Grid<TAMHR.ESS.Domain.DocumentApprovalView>()
                    .Name("grid")
                    .HtmlAttributes(new { data_filter = "request-history-filter" })
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.DocumentNumber).ClientTemplate(@"
                            <div class=""media"">
                                <a class=""" + (Model.ShowFormTitle ? "mt-2" : string.Empty) + @""" href=""javascript:;"" data-trigger=""modal"" data-modal=""document-approval-history-modal"" data-modal-title=""Approval Histories -  #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/documentapprovalhistories"" data-parameters-id=""#:Id#"">
                                    <i class=""approval-icon-#:DocumentStatusCode# font-large-2""></i>
                                </a>
                                <div class=""media-body ml-2"">
                                    <a href=""" + Url.Content($"~/core/form/view?formKey=#:FormKey#&id=#:Id#") + @""" class=""font-dark"">
                                        " + (Model.ShowFormTitle ? @"<h6 class=""mt-1 mb-0 bold font-small-3"">#:FormTitle#</h6>" : string.Empty) + @"
                                        <h6 class=""mt-1 mb-0 bold " + (Model.ShowFormTitle ? "font-small-3" : string.Empty) + @""">#:DocumentNumber#</h6>
                                        <div>
                                            #: kendo.toString(CreatedOn, 'dd MMM yyyy - HH:mm tt') #
                                        </div>
                                        
                                    </a>
                                </div>
                                <div class=""btn-group pull-right mt-1 d-block d-sm-none"">
                                    # if (DocumentStatusCode == 'completed' && FormKey == 'weekly-wfh-planning') { #
                                        <a class=""btn btn-xs yellow ml-1 target=""_blank"" href=""" + Url.Content($"~/core/form/view?formKey=#:FormKey#&id=#:Id#") + @""" title=""Edit Form"">
                                            <i class=""ft-edit font-normal""></i>
                                        </a>
                                    # } else { #
                                        # if (FormKey == 'weekly-wfh-planning') { #
                                            # if (DocumentStatusCode == 'draft') { #
                                              <a class=""btn btn-xs #: (CreatedBy == '" + User.GetClaim("NoReg") + @"' && DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'rejected' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired' && DocumentStatusCode != 'locked') ? 'red' : 'disabled grey' #"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">
                                                    <i class=""ft-trash font-normal""></i>
                                                </a>
                                            # } #
                                        # } else { #
                                           <a class=""btn btn-xs #: (CreatedBy == '" + User.GetClaim("NoReg") + @"' && DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'rejected' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired' && DocumentStatusCode != 'locked') ? 'red' : 'disabled grey' #"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">
                                                <i class=""ft-trash font-normal""></i>
                                            </a>
                                            <a class=""btn btn-xs green-jungle ml-1 #: (!CanDownload || DocumentStatusCode == 'locked') ? 'disabled grey' : '' #"" target=""_blank"" href=""" + Url.Content($"~/core/form/download?formKey=#:FormKey#&id=#:Id#") + @""">
                                                <i class=""ft-download font-normal""></i>
                                            </a>
                                        # } #
                                    # } #
                                </div>
                            </div>
                            <a href=""javascript:;"" class=""mt-1 d-block d-sm-none"" data-trigger=""modal"" data-modal-title=""Tracking Approval - #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/trackingapproval"" data-parameters-id=""#:Id#"">
                                <div class=""clearfix mb-1"">
                                    <div class=""pull-left"">#:app.translate(DocumentStatusTitle)#</div>
                                    <div class=""pull-right"">#:Progress#%</div>
                                </div>
                                <div class=""progress"" style=""height: 4px;"">
                                    <div class=""progress-bar progress-bar-striped #: css('DocumentApproval', DocumentStatusCode) #"" role=""progressbar"" aria-valuenow=""#:Progress#"" aria-valuemin=""#:Progress#"" aria-valuemax=""#:Progress#"" style=""width:#:Progress#%;""></div>
                                </div>
                                " + (Model.ShowFormTitle ? @"<small class=""font-grey-mint""><b>" + Localizer["Requested by"].Value + @" - #:CreatorName#</b></small>" : string.Empty) + @"
                            </a>
                        ").Width("17.2rem");

                        columns.Bound(c => c.Title).HtmlAttributes(new { @class = "align-middle p-0" }).ClientTemplate(@"
                            <a href=""javascript:;"" data-trigger=""modal"" data-modal-title=""Tracking Approval - #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/trackingapproval"" data-parameters-id=""#:Id#"">
                                <div class=""clearfix mb-1"">
                                    <div class=""pull-left d-none d-md-block"">#:app.translate(DocumentStatusTitle)#</div>
                                    <div class=""pull-right"">#:Progress#%</div>
                                </div>
                                <div class=""progress"" style=""height: 4px;"">
                                    <div class=""progress-bar progress-bar-striped #: css('DocumentApproval', DocumentStatusCode) #"" role=""progressbar"" aria-valuenow=""#:Progress#"" aria-valuemin=""#:Progress#"" aria-valuemax=""#:Progress#"" style=""width:#:Progress#%;""></div>
                                </div>
                                " + (Model.ShowFormTitle ? @"<small class=""font-grey-mint""><b>" + Localizer["Requested by"].Value + @" - #:CreatorName#</b></small>" : string.Empty) + @"
                            </a>
                        ").MinScreenWidth(576);

                        columns.Bound(c => c.Id).HtmlAttributes(new { @class = "align-middle text-center" }).ClientTemplate(@"
                            <div class=""btn-group"">
                                # if (DocumentStatusCode == 'completed' && FormKey == 'weekly-wfh-planning') { #
                                    <a class=""btn btn-xs yellow ml-1 target=""_blank"" href=""" + Url.Content($"~/core/form/view?formKey=#:FormKey#&id=#:Id#") + @""" title=""Edit Form"">
                                        <i class=""ft-edit font-normal""></i>
                                    </a>
                                # } else { #
                                    # if (FormKey == 'weekly-wfh-planning') { #
                                        # if (DocumentStatusCode == 'draft') { #
                                         <a class=""btn btn-xs #: (CreatedBy == '" + User.GetClaim("NoReg") + @"' && DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'rejected' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired' && DocumentStatusCode != 'locked') ? 'red' : 'disabled grey' #"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">
                                                <i class=""ft-trash font-normal""></i>
                                            </a>
                                        # } #
                                    # } else { #
                                  <a class=""btn btn-xs #: (CreatedBy == '" + User.GetClaim("NoReg") + @"' && DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'rejected' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired' && DocumentStatusCode != 'locked') ? 'red' : 'disabled grey' #"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">
                                            <i class=""ft-trash font-normal""></i>
                                        </a>
                                        <a class=""btn btn-xs green-jungle ml-1 #: (!CanDownload || DocumentStatusCode == 'locked') ? 'disabled grey' : '' #"" target=""_blank"" href=""" + Url.Content($"~/core/form/download?formKey=#:FormKey#&id=#:Id#") + @""">
                                            <i class=""ft-download font-normal""></i>
                                        </a>
                                    # } #
                                # } #
                            </div>
                            <div class=""dropdown d-none"">
                                <a href=""javascript:;"" class=""btn btn-xs dropdown-toggle red-sunglo mt-2"" data-toggle=""dropdown"">
                                    <i class=""ft-chevron-down""></i>
                                </a>
                                <ul class=""dropdown-menu dropdown-menu-right"">
                                    <li>
                                        <a href=""" + Url.Content($"~/core/form/view?formKey=#:FormKey#&id=#:Id#") + @""">View</a>
                                    </li>
                                    # if (DocumentStatusCode == 'completed') { #
                                    <li>
                                       <a target=""_blank"" href=""" + Url.Content($"~/core/form/download?formKey=#:FormKey#&id=#:Id#") + @""">Download Form</a>
                                    </li>
                                    # } #
                                    <li class=""dropdown-divider""></li>
                                    <li>
                                        <a href=""javascript:;"" data-trigger=""modal"" data-modal-title=""Tracking Approval - #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/trackingapproval"" data-parameters-id=""#:Id#"">View Tracking Approval</a>
                                    </li>
                                    <li>
                                        <a href=""javascript:;"" data-trigger=""modal"" data-modal-title=""Approval Histories -  #:DocumentNumber#"" data-modal-ajax=""true"" data-ajax-url=""~/core/home/documentapprovalhistories"" data-parameters-id=""#:Id#"">View Approval Histories</a>
                                    </li>
                                    # if (DocumentStatusCode != 'cancelled'  && DocumentStatusCode != 'autocancel' && DocumentStatusCode != 'rejected' && DocumentStatusCode != 'completed' && DocumentStatusCode != 'expired') { #
                                        <li class=""dropdown-divider""></li>
                                        <li>
                                            <a href=""javascript:;"" data-trigger=""handler"" data-handler=""postHandler"" data-parameters-id=""#:Id#"" data-parameters-action=""cancel"">Drop Request</a>
                                        </li>
                                    # } #
                                </ul>
                            </div>
                        ").Width(135).MinScreenWidth(576);
                    })
                    .NoRecords(config => config.Template(@"<div class=""text-center py-4 px-2 text-muted small""><img src=""" + Url.Content("~/img/folder.svg") + @""" style=""width: 150px;"" /><br/>" + Localizer["No request histories found"].Value + "</div>"))
                    .Events(evt => evt.DataBinding(@<text>function() {
                        this.element.removeClass("k-grid k-widget k-display-block");
                        this.element.find("table").addClass("table w-100 mb-1");
                    }</text>))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Url(Url.Content("~/api/task/getforms")).Data(@<text>function() { return { formKey: "@Model.FormKey", showAll: $("#show-all").length > 0 ? $("#show-all").is(":checked") : false } }</text>))
                        .Sort(sort => sort.Add("CreatedOn").Descending())
                        .PageSize(10)
                    )
                    .Pageable(options => {
                        options.Input(true);
                        options.Numeric(false);
                        options.AlwaysVisible(false);
                    })
                    .Deferred(true)
                )
                }

            </div>
        </div>
    </div>
</div>